---
title: POWER menu

description: >
  <p>Character titles, personalized stats, and spell lists.</p>
  <p>Titles and stat variants later in the list override any earlier ones. If the conditions for multiple titles or multiple stat variants are met, the one that comes last in this page's list will be used.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_darkcontroller_Draw_0
    chapters: [1, 2, 3, 4]
    note: layout, titles, stats
  -
    name: gml_GlobalScript_scr_gamestart
    chapters: [1, 2, 3, 4]
    note: spell assignments
  -
    name: gml_GlobalScript_scr_spellinfo
    chapters: [1, 2, 3, 4]
    note: spell TP costs

see_also:
  -
    url: /misc/spells
    name: Spells

toc:
  -
    id: display
    name: Display
    subheadings:
      -
        id: display-char
        name: CHAR
      -
        id: display-stats
        name: STATS
      -
        id: display-spells
        name: SPELLS
  -
    id: kris
    name: Kris
    subheadings:
      -
        id: kristitles
        name: Titles
        subheadings:
          -
            id: kristitles1
            name: Chapter 1
          -
            id: kristitles2
            name: Chapter 2
          -
            id: kristitles3
            name: Chapter 3
          -
            id: kristitles4
            name: Chapter 4
      -
        id: krisstats
        name: Stats
        subheadings:
          -
            id: krisstats1
            name: Chapter 1
          -
            id: krisstats2
            name: Chapter 2
          -
            id: krisstats3
            name: Chapter 3
          -
            id: krisstats4
            name: Chapter 4
      -
        id: krisspells
        name: Spells
        subheadings:
          -
            id: krisspells1
            name: Chapters 1 to 4
  -
    id: susie
    name: Susie
    subheadings:
      -
        id: susietitles
        name: Titles
        subheadings:
          -
            id: susietitles1
            name: Chapter 1
          -
            id: susietitles2
            name: Chapter 2
          -
            id: susietitles3
            name: Chapter 3
          -
            id: susietitles4
            name: Chapter 4
      -
        id: susiestats
        name: Stats
        subheadings:
          -
            id: susiestats1
            name: Chapter 1
          -
            id: susiestats2
            name: Chapter 2
          -
            id: susiestats3
            name: Chapter 3
          -
            id: susiestats4
            name: Chapter 4
      -
        id: susiespells
        name: Spells
        subheadings:
          -
            id: susiespells1
            name: Chapter 1
          -
            id: susiespells2
            name: Chapter 2
          -
            id: susiespells3
            name: Chapter 3
          -
            id: susiespells4
            name: Chapter 4
  -
    id: ralsei
    name: Ralsei
    subheadings:
      -
        id: ralseititles
        name: Titles
        subheadings:
          -
            id: ralseititles1
            name: Chapter 1
          -
            id: ralseititles2
            name: Chapter 2
          -
            id: ralseititles3
            name: Chapter 3
          -
            id: ralseititles4
            name: Chapter 4
      -
        id: ralseistats
        name: Stats
        subheadings:
          -
            id: ralseistats1
            name: Chapter 1
          -
            id: ralseistats2
            name: Chapter 2
          -
            id: ralseistats3
            name: Chapter 3
          -
            id: ralseistats4
            name: Chapter 4
      -
        id: ralseispells
        name: Spells
        subheadings:
          -
            id: ralseispells1
            name: Chapters 1 to 4
  -
    id: noelle
    name: Noelle
    subheadings:
      -
        id: noelletitles
        name: Titles
        subheadings:
          -
            id: noelletitles2
            name: Chapter 2
      -
        id: noellestats
        name: Stats
        subheadings:
          -
            id: noellestats2
            name: Chapter 2
      -
        id: noellespells
        name: Spells
        subheadings:
          -
            id: noellespells2
            name: Chapter 2
---
<section class="d-section" id="layout">
	<h2>Layout</h2>

	<p>The POWER menu has 3 sections, each with labels across the top.</p>

	<h3 id="display-char">CHAR</h3>
	<p>The top section, stretching across the upper third of the menu.</p>
	
	<p>The left side of this section shows icons for each party member. The currently-selected party member has the SOUL over their icon, bracketed by red arrows, and their name is displayed above all the party member icons.</p>

	<p>The right side of this section shows the currently-selected party member's title, which varies depending on the chapter and plot progression.</p>

	<hr>

	<h3 id="display-stats">STATS</h3>
	<p>The bottom left section.</p>

	<p>Displays 6 stat fields, in a format similar to the one below. Attack, Defense, Magic, and Guts are stats possessed by all characters; the first three's values vary depending on the weapon and armor equipped to each party member, while Guts depends on the character and chapter. The remaining two fields are purely cosmetic and vary depending on the character, chapter, and plot progression; see each character's section below for their respective values.</p>
	
	<dl class="powerstats">
		<dt>{% include staticon name="attack" -%} <span class="statlabel">Attack</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="defense" -%} <span class="statlabel">Defense</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="magic" -%} <span class="statlabel">Magic</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt><span class="statlabel blank">???</span></dt>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<hr>

	<h3 id="display-spells">SPELLS</h3>
	<p>The bottom right section.</p>

	<p>Displays spells belonging to the currently-selected party member, along with their TP costs. Pressing [CONFIRM] on the party member you're hovering over allows you to go through the spell list and view a description for each spell. This page lists only spell names and costs; you can click on a spell's name to see its description(s) and more information about it on the <a href="{{ '/misc/spells' | relative_url }}">full Spells page</a>.</p>

	<p>An asterisk (*) to the left of a spell means that spell's TP cost changes over the course of the game and the listed value is the starting cost. You can check the spell's section on the Spells page for details on the changing cost.</p>
</section>

<section class="d-section" id="kris">
	<h2>Kris</h2>

	<h3 id="kristitles">Titles</h3>
	<h4 id="kristitles1">Chapter 1</h4>
	<h5 id="lv1human">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Human</d-text>
		<d-text>Body contains a<span class="break"></span> human SOUL.</d-text>
	</d-box>

	<h5 id="lv1leader">After <a href="{{ '/story/chapter1/castletown#postbattle' | relative_url }}">Ralsei joins the party</a></h5>
	<d-box theme="powertitle">
		<d-text>LV1 Leader</d-text>
		<d-text>Commands the party<span class="break"></span> with various ACTs.</d-text>
	</d-box>

	<h5 id="lv1bedinspector">After inspecting all 4 beds in Hathy's room in Card Castle</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Bed Inspector</d-text>
		<d-text>Inspects all beds<span class="break"></span> inexplicably.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="kristitles2">Chapter 2</h4>
	<p>The LV value is 2 at the start of the chapter and changes to 3 after the Cyber World's Dark Fountain is sealed. It is represented by a "#" in this section.</p>

	<h5 id="lv2leader">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV2 Leader</d-text>
		<d-text>Commands the party<span class="break"></span> with various ACTs.</d-text>
	</d-box>

	<h5 id="lv2tactician">After <a href="{{ '/encounters/sweetcapncakes#ft-actlearn' | relative_url }}">Susie and Ralsei learn <span class="susie act">S-Action</span>/<span class="ralsei act">R-Action</span></a></h5>
	<d-box theme="powertitle">
		<d-text>LV# Tactician</d-text>
		<d-text>Commands the party<span class="break"></span> by ACTs. Sometimes.</d-text>
	</d-box>

	<h5 id="lv2bedinspector">After inspecting all beds in Castle Town and Noelle's bed in Queen's Mansion</h5>
	<p>Requires you to continue a save file from Chapter 1 while possessing the Bed Inspector title.</p>
	<d-box theme="powertitle">
		<d-text>LV# Bed Inspector</d-text>
		<d-text>Inspects all beds<span class="break"></span> inexplicably.</d-text>
	</d-box>

	<h5 id="lv2mossfinder">After finding the moss in Cyber City</h5>
	<d-box theme="powertitle">
		<d-text>LV# Moss Finder</d-text>
		<d-text>Basic moss-finding<span class="break"></span> abilities.</d-text>
	</d-box>

	<h5 id="lv2leaderweird">After starting the Weird Route</h5>
	<d-box theme="powertitle">
		<d-text>LV# Leader</d-text>
		<d-text>Commands.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="kristitles3">Chapter 3</h4>

	<h5 id="lv3tactician">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV3 Tactician</d-text>
		<d-text>Commands the party<span class="break"></span> by ACTs.</d-text>
	</d-box>

	<h5 id="lv3director">After <a href="{{ '/story/chapter3/bonusround#end' | relative_url }}">escaping Tenna</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Director</d-text>
		<d-text>Moves the actors<span class="break"></span> around.</d-text>
	</d-box>

	<h5 id="lv3mossmystery">After <a href="{{ '/story/chapter3/islandboard#moss' | relative_url }}">finding the moss on Board 2</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Moss Mystery</d-text>
		<d-text>Intermediate moss<span class="break"></span> skills.</d-text>
	</d-box>

	<h5 id="lv3blazer">After finishing <a href="{{ '/story/chapter3/desertboardsword' | relative_url }}">Sword Route's Board 1</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Blazer</d-text>
		<d-text>Specializes in<span class="break"></span> sword attacks.</d-text>
	</d-box>

	<h5 id="lv3iceblazer">After finishing <a href="{{ '/story/chapter3/islandboardsword' | relative_url }}">Sword Route's Board 2</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Ice Blazer</d-text>
		<d-text>Specializes in<span class="break"></span> sword attacks.</d-text>
	</d-box>

	<h5 id="lv3sheath">After <a href="{{ '/story/chapter3/cityboardsword#mantleget' | relative_url }}">beating the Shadow Mantle Holder</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Sheath</d-text>
		<d-text>Breath quickens<span class="break"></span> around swords.</d-text>
	</d-box>

	<h5 id="lv3egg">After <a href="{{ '/story/chapter3/egg#man' | relative_url }}">obtaining the Egg</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Enjoying<span class="break"></span> the youthful<span class="break"></span> days.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="kristitles4">Chapter 4</h4>

	<h5 id="lv4darkhero">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV4 Dark Hero</d-text>
		<d-text>Carries out fate<span class="break"></span> with the blade.</d-text>
	</d-box>

	<h5 id="lv4mossmost">After finding all moss in this and previous chapters</h5>
	<d-box theme="powertitle">
		<d-text>LV4 Moss Most</d-text>
		<d-text>Munched the most<span class="break"></span> moist mosses.</d-text>
	</d-box>

	<h5 id="lv4darkbead">If <a href="{{ '/story/chapter4/noelleroomweird' | relative_url }}">on the Weird Route</a></h5>
	<d-box theme="powertitle">
		<d-text>LV4 Dark Bead</d-text>
		<d-text>Broken off,<span class="break"></span> but still locked.</d-text>
	</d-box>

	<hr>

	<h3 id="krisstats">Stats</h3>
	<h4 id="krisstats1">Chapter 1</h4>
	<h5>Standard</h5>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<h5>2% chance with another character in the party</h5>
	<p>Appears only after switching to another party member's profile, then switching back to Kris's.</p>
	<dl class="powerstats">
		<dt><span class="statlabel">Dog</span></dt>
		<dd><img src="{{ '/assets/images/ui/statmenu/dog_sleep.gif' | relative_url }}" alt="Annoying Dog sleeping"></dd>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="krisstats2">Chapter 2</h4>
	<h5>Standard</h5>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<h5>4% chance with another character in the party</h5>
	<p>Appears only after switching to another party member's profile, then switching back to Kris's.</p>
	<dl class="powerstats">
		<dt><span class="statlabel">Dog</span></dt>
		<dd><img src="{{ '/assets/images/ui/statmenu/dog_sleep.gif' | relative_url }}" alt="Annoying Dog sleeping"></dd>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="krisstats3">Chapter 3</h4>
	<h5>Stat 1</h5>
	<h6>Standard</h6>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
	</dl>

	<h6>4% chance with another character in the party</h6>
	<p>Appears only after switching to another party member's profile, then switching back to Kris's.</p>
	<dl class="powerstats">
		<dt><span class="statlabel">Dog</span></dt>
		<dd><img src="{{ '/assets/images/ui/statmenu/dog_sleep.gif' | relative_url }}" alt="Annoying Dog sleeping"></dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 2</h5>
	<h6>If no kills have been made on the Sword Route</h6>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
	</dl>

	<h6>If at least one kill has been made on the Sword Route</h6>
	<p class="note">"&lt;#&gt;" is the number of kills made, from 1 up to a maximum of 9999. (Though there aren't that many enemies in the Sword Route levels, so it stops much earlier.)</p>
	<dl class="powerstats">
		<dt><span class="staticon noicon" aria-hidden="true">*</span></dt>
		<dd>&lt;#&gt;</dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 3</h5>
	<dl class="powerstats">
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="2" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="krisstats4">Chapter 4</h4>
	<h5>Stat 1</h5>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
	</dl>

	<hr class="hr2">

	<h5>Stat 2</h5>
	<h6>Standard</h6>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
	</dl>
	<h6>If any <a href="{{ '/encounters/titanspawn' | relative_url }}">Titan Spawn</a> have been defeated violently</h6>
	<p class="note">"&lt;#&gt;" is the number of Spawn killed, from 1 up to a maximum of 9999.</p>
	<dl class="powerstats">
		<dt><span class="staticon noicon" aria-hidden="true">*</span> <span class="statlabel">Slain</span></dt>
		<dd>&lt;#&gt;</dd>
	</dl>
	<h6>If any Titan Spawn have been purified</h6>
	<p class="note">"&lt;#&gt;" is the number of Spawn purified, from 1 up to a maximum of 9999.</p>
	<dl class="powerstats">
		<dt><span class="staticon noicon" aria-hidden="true">*</span> <span class="statlabel">Purify</span></dt>
		<dd>&lt;#&gt;</dd>
	</dl>
	<h6>4% chance with another character in the party</h6>
	<p>Appears only after switching to another party member's profile, then switching back to Kris's.</p>
	<dl class="powerstats">
		<dt><span class="statlabel">Dog</span></dt>
		<dd><img src="{{ '/assets/images/ui/statmenu/dog_sleep.gif' | relative_url }}" alt="Annoying Dog sleeping"></dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 3</h5>
	<dl class="powerstats">
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="3" %}{% include staticon name="guts" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr>

	<h3 id="krisspells">Spells</h3>
	<h4 id="krisspells1">
		<a id="krisspells2"></a><a id="krisspells3"></a><a id="krisspells4"></a>
		Chapters 1 to 4
	</h4>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#act' | relative_url }}">ACT</a></td>
			<td class="spellcost">0%</td>
		</tr>
	</table>
</section>


<section class="d-section" id="susie">
	<h2>Susie</h2>

	<h3 id="susietitles">Titles</h3>
	<h4 id="susietitles1">Chapter 1</h4>
	<h5 id="lv1meangirl">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Mean Girl</d-text>
		<d-text>Won't do anything<span class="break"></span> but fight.</d-text>
	</d-box>

	<h5 id="lv1darkknight">After <a href="{{ '/story/chapter1/prisonbreak#postfight' | relative_url }}">sparing Lancer in Card Castle</a></h5>
	<d-box theme="powertitle">
		<d-text>LV1 Dark Knight</d-text>
		<d-text>Does damage using<span class="break"></span> dark energy.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="susietitles2">Chapter 2</h4>
	<p>The LV value is 2 at the start of the chapter and changes to 3 after the Cyber World's Dark Fountain is sealed. It is represented by a "#" in this section.</p>

	<h5 id="lv2darkknight">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV# Dark Knight</d-text>
		<d-text>Does damage using<span class="break"></span> dark energy.</d-text>
	</d-box>

	<h5 id="lv2healingmaster">After <a href="{{ '/story/chapter2/reunion#healingmaster' | relative_url }}">Ralsei teaches Susie healing</a></h5>
	<d-box theme="powertitle">
		<d-text>LV# Healing Master</d-text>
		<d-text>Can use ultimate<span class="break"></span> healing. (Losers!)</d-text>
	</d-box>

	<h5 id="lv2mossenjoyer">If you find the moss with Susie in the party</h5>
	<d-box theme="powertitle">
		<d-text>LV# Moss Enjoyer</d-text>
		<d-text>Supports those<span class="break"></span> that find moss.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="susietitles3">Chapter 3</h4>

	<h5 id="lv3darkknight">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV3 Dark Knight</d-text>
		<d-text>Does damage using<span class="break"></span> dark energy.</d-text>
	</d-box>

	<h5 id="lv3darkactorsus">After <a href="{{ '/story/chapter3/bonusround#end' | relative_url }}">escaping Tenna</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Dark Actor</d-text>
		<d-text>Participates in<span class="break"></span> occult ACTs.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="susietitles4">Chapter 4</h4>

	<h5 id="lv4darkherosus">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV4 Dark Hero</d-text>
		<d-text>Carries out fate<span class="break"></span> with the blade.</d-text>
	</d-box>

	<h5 id="lv4axeofjustice">After defeating the <a href="{{ '/encounters/hammerofjustice' | relative_url }}">Hammer of Justice</a> and obtaining the <a href="{{ '/misc/weapons#justiceaxe' | relative_url }}">Justice Axe</a></h5>
	<d-box theme="powertitle">
		<d-text>LV4 Axe of Justice</d-text>
		<d-text>Faces fate<span class="break"></span> with the blade.</d-text>
	</d-box>

	<hr>

	<h3 id="susiestats">Stats</h3>
	<h4 id="susiestats1">Chapter 1</h4>
	<h5>Stat 1</h5>
	<h6>Initial</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>100</dd>
	</dl>

	<h6>After <a href="{{ '/story/chapter1/prisonbreak#postfight' | relative_url }}">sparing Lancer in Card Castle</a></h6>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>99</dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 2</h5>
	<h6>If you picked "$!$? Squad" as the party name</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel shrink80">Crudeness</span></dt>
		<dd>101</dd>
	</dl>

	<h6>If you didn't pick "$!$? Squad" as the party name</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel shrink80">Crudeness</span></dt>
		<dd>100</dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 3</h5>
	<dl class="powerstats">
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="2" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="susiestats2">Chapter 2</h4>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>89</dd>
		<dt>{% include staticon name="devil" -%} <span class="statlabel shrink80">Purple</span></dt>
		<dd>Yes</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="2" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="susiestats3">Chapter 3</h4>
	<h5>Standard</h5>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>100</dd>
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="3" %}{% include staticon name="guts" %}{% include staticon name="guts" %}</dd>
	</dl>

	<h5>If Susie has plucked any grass on the TV Time boards</h5>
	<p class="note">"&lt;#&gt;" is the number of times Susie plucked grass, from 1 up to a maximum of 99.</p>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>100</dd>
		<dt>{% include staticon name="grass" -%} <span class="statlabel">Plucked</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="3" %}{% include staticon name="guts" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="susiestats4">Chapter 4</h4>
	<p class="note">"&lt;#&gt;" is a value representing Susie's healing ability, determined by the formulas below. The value <code>heal_use</code> referenced in each formula is the number of times Susie has used her healing, capped at a maximum of 15.</p>
	<ul class="note">
		<li>Before defeating the <a href="{{ '/encounters/hammerofjustice' | relative_url }}">Hammer of Justice</a> and the <a href="{{ '/encounters/soundofjustice' | relative_url }}">Sound of Justice</a>: 15 + 5× Susie's Magic stat + 2× <code>heal_use</code></li>
		<li>After defeating the Hammer of Justice or the Sound of Justice: 10× Susie's Magic stat + 2× <code>heal_use</code></li>
	</ul>
	<dl class="powerstats">
		<dt>{% include staticon name="devil" -%} <span class="statlabel">Rudeness</span></dt>
		<dd>100</dd>
		<dt><span class="staticon noicon" aria-hidden="true">*</span> <span class="statlabel">Healing</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="4" %}{% include staticon name="guts" %}{% include staticon name="guts" %}{% include staticon name="guts" %}</dd>
	</dl>

	<hr>

	<h3 id="susiespells">Spells</h3>
	<h4 id="susiespells1">Chapter 1</h4>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
	</table>

	<hr class="hrhalf">

	<h4 id="susiespells2">Chapter 2</h4>
	<h5>Initial</h5>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
	</table>

	<h5>After <a href="{{ '/story/chapter2/reunion#healingmaster' | relative_url }}">Ralsei teaches Susie healing</a></h5>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#ultimateheal' | relative_url }}">UltimatHeal</a></td>
			<td class="spellcost">100%</td>
		</tr>
	</table>

	<hr class="hrhalf">

	<h4 id="susiespells3">Chapter 3</h4>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#ultraheal' | relative_url }}">UltraHeal</a></td>
			<td class="spellcost">90% {% include spell_variable_cost %}</td>
		</tr>
	</table>

	<hr class="hrhalf">

	<h4 id="susiespells4">Chapter 4</h4>
	<h5>Initial / After <a href="{{ '/story/chapter4/darkzone#postfight-susie' | relative_url }}">healing Jackenstein</a></h5>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#okheal' | relative_url }}">OKHeal</a></td>
			<td class="spellcost">85% {% include spell_variable_cost %}</td>
		</tr>
	</table>

	<h5>After meeting Ralsei in the Dark Sanctuary and before <a href="{{ '/story/chapter4/darkzone#postfight-susie' }}">healing Jackenstein</a> </h5>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#heal' | relative_url }}">Heal</a></td>
			<td class="spellcost">??%</td>
		</tr>
	</table>

	<h5>After defeating the  <a href="{{ '/encounters/hammerofjustice' | relative_url }}">Hammer of Justice</a> or the <a href="{{ '/encounters/soundofjustice' | relative_url }}">Sound of Justice</a></h5>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#rudebuster' | relative_url }}">Rude Buster</a></td>
			<td class="spellcost">50% {% include spell_variable_cost %}</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#betterheal' | relative_url }}">BetterHeal</a></td>
			<td class="spellcost">80% {% include spell_variable_cost %}</td>
		</tr>
	</table>
</section>


<section class="d-section" id="ralsei">
	<h2>Ralsei</h2>

	<h3 id="ralseititles">Titles</h3>
	<h4 id="ralseititles1">Chapter 1</h4>
	<h5 id="lv1lonelyprince">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Lonely Prince</d-text>
		<d-text>Dark-World being.<span class="break"></span> Has no subjects.</d-text>
	</d-box>

	<h5 id="lv1pricklyprince">While <a href="{{ '/misc/weapons#ragger' | relative_url }}">Ragger</a> is equipped</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Prickly Prince</d-text>
		<d-text>Deals damage with<span class="break"></span> his rugged scarf.</d-text>
	</d-box>

	<h5 id="lv1fluffyprince">While <a href="{{ '/misc/weapons#daintyscarf' | relative_url }}">Dainty Scarf</a> is equipped</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Fluffy Prince</d-text>
		<d-text>Weak, but has nice<span class="break"></span> healing powers.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="ralseititles2">Chapter 2</h4>
	<p>The LV value is 2 at the start of the chapter and changes to 3 after the Cyber World's Dark Fountain is sealed. It is represented by a "#" in this section.</p>

	<h5 id="lv2darkprince">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV# Dark Prince</d-text>
		<d-text>Dark-World being.<span class="break"></span> Has friends now.</d-text>
	</d-box>

	<h5 id="lv2hugprince">If Kris hugged Ralsei during <a href="{{ '/story/chapter2/acidtunnel#photograph' | relative_url }}">the photo</a></h5>
	<d-box theme="powertitle">
		<d-text>LV# Hug Prince</d-text>
		<d-text>Receives and<span class="break"></span> gives many hugs.</d-text>
	</d-box>

	<h5 id="lv2poseprince">If Kris made a peace sign during the photo</h5>
	<d-box theme="powertitle">
		<d-text>LV# Pose Prince</d-text>
		<d-text>Poses for photos<span class="break"></span> at times.</d-text>
	</d-box>

	<h5 id="lv2rudeprince">If Kris made a rude gesture during the photo</h5>
	<d-box theme="powertitle">
		<d-text>LV# Rude Prince</d-text>
		<d-text>Friends with a<span class="break"></span> rude gesturer.</d-text>
	</d-box>

	<h5 id="lv2blankprince">If Kris didn't pose for the photo</h5>
	<d-box theme="powertitle">
		<d-text>LV# Blank Prince</d-text>
		<d-text>Doesn't even<span class="break"></span> have a photo.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="ralseititles3">Chapter 3</h4>

	<h5 id="lv3darkprince1">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV3 Dark Prince</d-text>
		<d-text>Dark-World being.<span class="break"></span> Has friends, but...</d-text>
	</d-box>

	<h5 id="lv3darkactorral">After <a href="{{ '/story/chapter3/bonusround#end' | relative_url }}">escaping Tenna</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Dark Actor</d-text>
		<d-text>Has issues with<span class="break"></span> method acting.</d-text>
	</d-box>

	<h5 id="lv3horse">After the second cowboy minigame, while Ralsei's still wearing the horse costume</h5>
	<d-box theme="powertitle">
		<d-text>LV3 Horse</d-text>
		<d-text>Is a horse.</d-text>
	</d-box>

	<h5 id="lv3exhorse">After Ralsei takes off the horse costume</h5>
	<d-box theme="powertitle">
		<d-text>LV3 Ex-Horse</d-text>
		<d-text>Was a horse at<span class="break"></span> some point.</d-text>
	</d-box>

	<h5 id="lv3darkprince2">After <a href="{{ '/story/chapter3/finalact#posttenna' | relative_url }}">fighting Tenna</a></h5>
	<d-box theme="powertitle">
		<d-text>LV3 Dark Prince</d-text>
		<d-text>Dark-World being.<span class="break"></span> Has friends.</d-text>
	</d-box>

	<hr class="hrhalf">

	<h4 id="ralseititles4">Chapter 4</h4>

	<h5 id="lv4darkheroral">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV4 Dark Hero</d-text>
		<d-text>Records and faces<span class="break"></span> the fate.</d-text>
	</d-box>

	<h5 id="lv4stoolboy">While in the bookshelf room outside the Old Man's study, after <a href="{{ '/story/chapter4/escortmission#stoolforme' | relative_url }}">Ralsei executes Magical Stool Forme R</a></h5>
	<d-box theme="powertitle">
		<d-text>LV4 Stool Boy</d-text>
		<d-text>Boy with stool<span class="break"></span> like abilities.</d-text>
	</d-box>

	<hr>

	<h3 id="ralseistats">Stats</h3>
	<h4 id="ralseistats1">Chapter 1</h4>
	<h5>Stat 1</h5>
	<h6>Standard</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="cheer" -%} <span class="statlabel">Kindness</span></dt>
		<dd>100</dd>
	</dl>

	<h6>2% chance</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="cheerdog" -%} <span class="statlabel">Dogness</span></dt>
		<dd>1</dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 2</h5>
	<h6>Standard</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="1" %}</dd>
	</dl>

	<h6>While <a href="{{ '/misc/weapons#daintyscarf' | relative_url }}">Dainty Scarf</a> is equipped</h6>
	<dl class="powerstats">
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="2" %}{% include staticon name="fluff" %}</dd>
	</dl>

	<hr class="hr2">

	<h5>Stat 3</h5>
	<dl class="powerstats">
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd aria-label="0"></dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="ralseistats2">Chapter 2</h4>
	<dl class="powerstats">
		<dt>{% include staticon name="sweet" -%} <span class="statlabel">Sweetness</span></dt>
		<dd>97</dd>
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="2" %}{% include staticon name="fluff" %}</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd aria-label="0"></dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="ralseistats3">Chapter 3</h4>
	<h5>Standard</h5>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="1" %}</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<h5>If Susie has picked up Ralsei at least once during TV Time</h5>
	<p class="note">"&lt;#&gt;" is the number of times Ralsei has been carried, from 1 up to a maximum of 99.</p>
	<dl class="powerstats">
		<dt>{% include staticon name="up" -%} <span class="statlabel">Carried</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="1" %}</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd>{% include staticon name="guts" alt="1" %}</dd>
	</dl>

	<hr class="hrhalf">

	<h4 id="ralseistats4">Chapter 4</h4>
	<dl class="powerstats">
		<dt><span class="statlabel blank">???</span></dt>
		<dt>{% include staticon name="fluff" -%} <span class="statlabel shrink80">Fluffiness</span></dt>
		<dd>{% include staticon name="fluff" alt="1" %}</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd aria-label="0"></dd>
	</dl>

	<hr>

	<h3 id="ralseispells">Spells</h3>
	<h4 id="ralseispells1">
		<a id="ralseispells2"></a><a id="ralseispells3"></a><a id="ralseispells4"></a>
		Chapters 1 to 4
	</h4>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#pacify' | relative_url }}">Pacify</a></td>
			<td class="spellcost">16%</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#healprayer' | relative_url }}">Heal Prayer</a></td>
			<td class="spellcost">32%</td>
		</tr>
	</table>
</section>


<section class="d-section" id="noelle">
	<h2>Noelle</h2>

	<h3 id="noelletitles">Titles</h3>
	<h4 id="noelletitles2">Chapter 2</h4>

	<h5 id="lv1snowcaster">Initial</h5>
	<d-box theme="powertitle">
		<d-text>LV1 Snowcaster</d-text>
		<d-text>Might be able to<span class="break"></span> use some cool moves.</d-text>
	</d-box>

	<h5 id="lv2frostmancer">After using IceShock for the first time</h5>
	<d-box theme="powertitle">
		<d-text>LV2 Frostmancer</d-text>
		<d-text>Freezes the enemy.</d-text>
	</d-box>

	<h5 id="lv2icetrancer">While the <a href="{{ '/misc/weapons#thornring' | relative_url }}">Thorn Ring</a> is equipped</h5>
	<d-box theme="powertitle">
		<d-text>LV2 Ice Trancer</d-text>
		<d-text>Receives pain to<span class="break"></span> become stronger.</d-text>
	</d-box>

	<h5 id="lv2mossneutral">If you find the moss while Noelle is in the party (normal route only)</h5>
	<d-box theme="powertitle">
		<d-text>LV2 Moss Neutral</d-text>
		<d-text>Neither chaotic nor<span class="break"></span> lawful to moss.</d-text>
	</d-box>

	<hr>

	<h3 id="noellestats">Stats</h3>
	<h4 id="noellestats2">Chapter 2</h4>
	<p class="note">Coldness and Boldness are both variable values.</p>
	<ul class="note">
		<li>Coldness: 47 initially. Increases by 7 for each use of <a href="{{ '/misc/spells#iceshock' | relative_url }}">Ice Shock</a>. Maxes out at 100.</li>
		<li>Boldness: Equivalent to 3× <code>plot</code> - 222, where <code>plot</code> tracks the progression of the plot. The calculated Boldness values are as follows:
			<ul>
				<li>-12 initially</li>
				<li>-6 after the <a href="{{ '/story/chapter2/city1#annoyingmouseroom' | relative_url }}">first mouse puzzle</a></li>
				<li>3 after the <a href="{{ '/story/chapter2/evilvillain' | relative_url }}">gold Berdly statue</a> appears</li>
				<li>9 after the <a href="{{ '/story/chapter2/city3#annoyingmouseroom2' | relative_url }}">second mouse puzzle</a></li>
				<li>12 after the <a href="{{ '/story/chapter2/city4#annoyingmouseroom3' | relative_url }}">third mouse puzzle</a></li>
				<li>15 after the <a href="{{ '/story/chapter2/secondalleyway' | relative_url }}">second Berdly fight</a></li>
				<li>18 after the <a href="{{ '/story/chapter2/drive#trafficjam' | relative_url }}">first half of the car ride with Queen</a></li>
				<li>33 after the <a href="{{ '/story/chapter2/drive#spamton' | relative_url }}">Spamton fight</a></li>
				<li>48 after the <a href="{{ '/story/chapter2/drive#drive2' | relative_url }}">second half of the car ride with Queen</a></li>
				<li>60 after the <a href="{{ '/story/chapter2/drive#DECEMBER' | relative_url }}">puzzle spelling out "<span class="yellow fnt-condensed">DECEMBER</span>"</a></li>
				<li>63 after <a href="{{ '/story/chapter2/reunion' | relative_url }}">the party reunites</a></li>
				<li>75 after <a href="{{ '/story/chapter2/mansionexterior' | relative_url }}">the party is captured by Queen</a></li>
			</ul>
		</li>
	</ul>
	<dl class="powerstats">
		<dt>{% include staticon name="snow" -%} <span class="statlabel">Coldness</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="exclamation" -%} <span class="statlabel shrink80">Boldness</span></dt>
		<dd>&lt;#&gt;</dd>
		<dt>{% include staticon name="guts" -%} <span class="statlabel">Guts</span></dt>
		<dd aria-label="0"></dd>
	</dl>

	<hr>

	<h3 id="noellespells">Spells</h3>
	<h3 id="noellespells2">Chapter 2</h3>
	<table class="powerspells">
		<tr class="visually-hidden">
			<th>Name</th>
			<th>TP cost</th>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#healprayer' | relative_url }}">Heal Prayer</a></td>
			<td class="spellcost">32%</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#sleepmist' | relative_url }}">SleepMist</a></td>
			<td class="spellcost">32%</td>
		</tr>
		<tr>
			<td class="spellname"><a href="{{ '/misc/spells#iceshock' | relative_url }}">IceShock</a></td>
			<td class="spellcost">16% {% include spell_variable_cost %}</td>
		</tr>
	</table>
</section>