---
title: Recruits

description: >
  <p>Character bios from the "Recruits" menu.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_GlobalScript_scr_recruit_info
    chapters: [4]

see_also:
  -
    url: /misc/encounters/
    name: Encounters - flavor text and dialogue

toc:
  -
    id: chapter1
    name: Chapter 1
    subheadings:
      -
        id: rudinn
        name: Rudinn
      -
        id: hathy
        name: Hathy
      -
        id: ponman
        name: Ponman
      -
        id: rabbick
        name: Rabbick
      -
        id: bloxer
        name: Bloxer
      -
        id: jigsawry
        name: Jigsawry
      -
        id: jevil
        name: JEVIL (unused)
      -
        id: rudinnranger
        name: Rudinn Ranger
      -
        id: headhathy
        name: Head Hathy
  -
    id: chapter2
    name: Chapter 2
    subheadings:
      -
        id: ambyulance
        name: Ambyu-Lance
      -
        id: poppup
        name: Poppup
      -
        id: tasque
        name: Tasque
      -
        id: werewire
        name: Werewire
      -
        id: maus
        name: Maus
      -
        id: virovirokun
        name: Virovirokun
      -
        id: swatchling
        name: Swatchling
      -
        id: werewerewire
        name: Werewerewire
      -
        id: tasquemanager
        name: Tasque Manager
      -
        id: mauswheel
        name: Mauswheel
  -
    id: chapter3
    name: Chapter 3
    subheadings:
      -
        id: shadowguy
        name: Shadowguy
      -
        id: shuttah
        name: Shuttah
      -
        id: zapper
        name: Zapper
      -
        id: ribbick
        name: Ribbick
      -
        id: watercooler
        name: Watercooler
      -
        id: pippins
        name: Pippins
      -
        id: elnina
        name: Elnina
      -
        id: lanino
        name: Lanino
  -
    id: chapter4
    name: Chapter 4
    subheadings:
      -
        id: guei
        name: Guei
      -
        id: balthizard
        name: Balthizard
      -
        id: bibliox
        name: Bibliox
      -
        id: mizzle
        name: Mizzle
      -
        id: wicabel
        name: Wicabel
      -
        id: winglade
        name: Winglade
      -
        id: organikk
        name: Organikk
      -
        id: missmizzle
        name: Miss MizzleLosing Momentum
---
<section class="d-section" id="chapter1">
	<h2>Chapter 1</h2>

	{% include profile
		name="Rudinn"
		desc="Said to be someone's best friend, but maybe not. Shine on, you lazy diamond!"
		like="Shiny Things"
		dislike="Effort"
		chapter=1
		level=2
		attack=4
		defense=5
		element="JEWEL"
	%}

	<hr>

	{% include profile
		name="Hathy"
		desc="A heart with a big heart. Always supporting others with her bullets."
		like="Lip Gloss"
		dislike="Drama"
		chapter=1
		level=2
		attack=4
		defense=5
		element="HEART"
	%}

	<hr>

	{% include profile
		name="Ponman"
		desc="A simple organism that takes life one square at a time."
		like="Sleeping"
		dislike="Moving Backwards"
		chapter=1
		level=3
		attack=4
		defense=5
		element="ORDER"
	%}

	<hr>

	{% include profile
		name="Rabbick"
		desc="A real dust bunny. Known to play dirty, but loves to play clean."
		like="Dusty Places"
		dislike="Vacuum"
		chapter=1
		level=4
		attack=4
		defense=5
		element="RABBIT:DUST"
	%}

	<hr>

	{% include profile
		name="Bloxer"
		desc="A shape changing fighter. Ironically, blocking is not its forte."
		like="Cross-Trainers"
		dislike="Formal Shoewear"
		chapter=1
		level=4
		attack=4
		defense=5
		element="FIGHT"
	%}

	<hr>

	{% include profile
		name="Jigsawry"
		desc="It cries tears of joy that you are its boss."
		like="Fitting In"
		dislike="Susie's Ax"
		chapter=1
		level=1
		attack=4
		defense=5
		element="MOUSE:PUZZ"
	%}

	<hr>

	<p>Unused.</p>

	{% include profile
		name="JEVIL"
		desc="An agent of CHAOS, he became DEVILSKNIFE to the pocket."
		like="CHAOS"
		dislike="BOREDOM"
		chapter=1
		level="???"
		attack=10
		defense=5
		element="CHAOS:CHAOS"
	%}

	<hr>

	{% include profile
		name="Rudinn Ranger"
		desc="Obsessed with ranger shows, it lets everyone know it's better than Rudinn."
		like="Sucking Up"
		dislike="Show Getting Taped Over"
		chapter=1
		level=5
		attack=4
		defense=5
		element="JEWEL:BLADE"
	%}

	<hr>

	{% include profile
		name="Head Hathy"
		desc="Although stronger than Hathy, seems to have fewer friends."
		like="Peace And Quiet"
		dislike="Being Alone"
		chapter=1
		level=5
		attack=5
		defense=5
		element="HEART:ICE"
	%}
</section>

<section class="d-section" id="chapter2">
	<h2>Chapter 2</h2>

	{% include profile
		name="Ambyu-Lance"
		desc="An aggressive antivirus. It's not down with the sickness."
		like="Loud Sirens"
		dislike="Funny Sound Effects"
		chapter=2
		level=8
		attack=8
		defense=8
		element="ORDER:ELEC"
	%}

	<hr>

	{% include profile
		name="Poppup"
		desc="Known to say ASOBOH, which means \"Let's Play!\" ... does it know that?"
		like="LEEMO FRUIT"
		dislike="ADBLOCK"
		chapter=2
		level=8
		attack=9
		defense=3
		element="VIRUS"
	%}

	<hr>

	{% include profile
		name="Tasque"
		desc="This cat loves you!"
		like="Cat Food"
		dislike="Cat Food"
		chapter=2
		level=7
		attack=8
		defense=6
		element="CAT:ELEC"
	%}

	<hr>

	{% include profile
		name="Werewire"
		desc="It was controlled by Queen. But, it's stronger and cooler now, so?"
		like="Shock Therapy"
		dislike="Emotional Therapy"
		chapter=2
		level=7
		attack=8
		defense=7
		element="ELEC"
	%}

	<hr>

	{% include profile
		name="Maus"
		desc="It dreams of re-enacting scenes from cat and mouse cartoons."
		like="Clicking"
		dislike="Clicking On Poppup"
		chapter=2
		level=6
		attack=8
		defense=2
		element="MOUSE:ELEC"
	%}

	<hr>

	{% include profile
		name="Virovirokun"
		desc="A virus with a slightly criminal streak... and a heart of gold."
		like="Retro Games"
		dislike="Federal Justice System"
		chapter=2
		level=7
		attack=8
		defense=6
		element="VIRUS"
	%}

	<hr>

	{% include profile
		name="Swatchling"
		desc="Colorful and dandy, you can always count on him to work hard."
		like="Paint By Numbers"
		dislike="Mixed Messages"
		chapter=2
		level=9
		attack=9
		defense=9
		element="COLOR"
	%}

	<hr>

	{% include profile
		name="Werewerewire"
		desc="It absorbed the wire with fighting spirit. Gets flustered easily."
		like="Supercharged Fighting"
		dislike="Interpersonal Relationships"
		chapter=2
		level=14
		attack=11
		defense=11
		element="ELEC:FIGHT"
	%}

	<hr>

	{% include profile
		name="Tasque Manager"
		desc="Loves to coordinate outfits. Strongly dislikes clowns."
		like="New Wave Synth Pop"
		dislike="Mismatched Socks"
		chapter=2
		level=10
		attack=10
		defense=7
		element="CAT:ORDER"
	%}

	<hr>

	{% include profile
		name="Mauswheel"
		desc="You recruited 3 big mice and you're stuck with it."
		like="Pretending To Be A Tire"
		dislike="Losing Momentum"
		chapter=2
		level=13
		attack=10
		defense=11
		element="MOUSE:MOUSE:MOUSE"
	%}
</section>

<section class="d-section" id="chapter3">
	<h2>Chapter 3</h2>

	{% include profile
		name="Shadowguy"
		desc="Passionate about music, but often taken advantage of by sinister types."
		like="Creative"
		dislike="Business"
		chapter=3
		level=18
		attack=13
		defense=13
		element="CHAOS:MUSIC"
	%}

	<hr>

	{% include profile
		name="Shuttah"
		desc="Don't scream...! It's not the real monster, just the Darkner. Ooo la la."
		like="Fashion Shoot"
		dislike="The word \"ugly\""
		chapter=3
		level=20
		attack=14
		defense=20
		element="COPY"
	%}

	<hr>

	{% include profile
		name="Zapper"
		desc="A bouncer that favors brute force over beauty. Gets lost easily."
		like="Laser Tag"
		dislike="Buttons Pushed"
		chapter=3
		level=19
		attack=16
		defense=18
		element="ORDER:ELEC"
	%}

	<hr>

	{% include profile
		name="Ribbick"
		desc="A real dust... frog. Known to play dirty, but loves to play... dirty."
		like="Dusty Places"
		dislike="Imposter"
		chapter=3
		level=16
		attack=15
		defense=12
		element="FROG:DUST"
	%}

	<hr>

	{% include profile
		name="Watercooler"
		desc="The chatty office star. Obviously quite a looker despite her prudish wear."
		like="Small talk"
		dislike="Feeling contained"
		chapter=3
		level=24
		attack=20
		defense=12
		element="WATER"
	%}

	<hr>

	{% include profile
		name="Pippins"
		desc="A sly customer that takes risk until luck strikes. ... cheating also works."
		like="Gacha Game"
		dislike="Consequences"
		chapter=3
		level=17
		attack=14
		defense=10
		element="CHAOS:LUCK"
	%}

	<hr>

	{% include profile
		name="Elnina"
		desc="The weather girl who really \"makes it rain.\" Like... with water, though."
		like="Lanino"
		dislike="Being Alone"
		chapter=3
		level=22
		attack=21
		defense=22
		element="WATER:ICE"
	%}

	<hr>

	{% include profile
		name="Lanino"
		desc="A charming weatherman who can control the weather. Which, seems like cheating."
		like="Elnina"
		dislike="Being Alone"
		chapter=3
		level=22
		attack=22
		defense=21
		element="FIRE:WIND"
	%}
</section>

<section class="d-section" id="chapter4">
	<h2>Chapter 4</h2>

	{% include profile
		name="Guei"
		desc="A waxy spirit that generates ghastly flames. Though, not a \"real\" ghost per se, it has an aversion to whips, water, and the like."
		like="Pot Roast"
		dislike="Holywater"
		chapter=4
		level=26
		attack=20
		defense=14
		element="SPIRIT:FIRE"
	%}

	<hr>

	{% include profile
		name="Balthizard"
		desc="An ancient aromancer, it generates magic incense and stores it in its steel shell. Easygoing, it gets along well with Guei."
		like="Scent Candle"
		dislike="Spinning fast"
		chapter=4
		level=28
		attack=14
		defense=30
		element="STEEL:SMELL"
	%}

	<hr>

	{% include profile
		name="Bibliox"
		desc="An old sage who can't help but mumble. It is rumored that 1000 spells are kept within his beard."
		like="Ancient Text"
		dislike="Autocorrect"
		chapter=4
		level=20
		attack=14
		defense=14
		element="MAGIC"
	%}

	<hr>

	{% include profile
		name="Mizzle"
		desc="The aqua fairy which slumbers in the \"Water Cooler\". Arbitrarily does fairy-like or princess-like things (as she pleases)."
		like="Bath bombs"
		dislike="Alarm clock"
		chapter=4
		level=31
		attack=21
		defense=21
		element="WATER"
	%}

	<hr>

	{% include profile
		name="Wicabel"
		desc="A witch who engages in musical rituals. Each song she plays is a magical charm that can change one's mood... though, isn't that all music?"
		like="Zen Bells"
		dislike="Sightreading"
		chapter=4
		level=33
		attack=14
		defense=28
		element="STEEL:MUSIC"
	%}

	<hr>

	{% include profile
		name="Winglade"
		desc="The witch's familiar, a living sword. Its greatest delight is being asked to carve graffiti."
		like="Calligraphy"
		dislike="Authoritarianism"
		chapter=4
		level=32
		attack=28
		defense=12
		element="BLADE"
	%}

	<hr>

	{% include profile
		name="Organikk"
		desc="A philosopher who studies the ancient words. Their light-blocking mask is said to let them commune deeper with the truth of the dark."
		like="Instrumentalism"
		dislike="Knowing what that is"
		chapter=4
		level=32
		attack=26
		defense=22
		element="STEEL:MUSIC"
	%}

	<hr>

	{% include profile
		name="Miss Mizzle"
		desc="A regular \"Mizzle\" who, after ages of worship, falsely believes herself to be of great royalty. Isn't even \"HOLY\" elemental."
		like="Reverence"
		dislike="Brutishness"
		chapter=4
		level=38
		attack=28
		defense=28
		element="WATER"
	%}
</section>