---
title: C. Round encounter

description: >
  <p>Flavor text and dialogue for the battle against C. Round.</p>

sources:
  -
    name: gml_Object_obj_smallcheckers_enemy_Step_0
    chapters: [1]
  -
    name: gml_GlobalScript_scr_monstersetup
    chapters: [1]
    note: ACT names
  -
    name: gml_GlobalScript_scr_encountersetup
    chapters: [1]
    note: initial flavor text

credits: >
  <p>Compiled by wovenstarlight.</p>

see_also:
  -
    url: /misc/encounters/kroundgreatboard
    name: K. Round encounter - Great Board
  -
    url: /misc/encounters/kroundcardcastle
    name: K. Round encounter - Card Castle

toc:
  -
    id: flavortext
    name: Flavor text
    subheadings:
      -
        id: encounter
        name: Initial encounter
      -
        id: ft-standard
        name: Standard
      -
        name: ACTs
        subheadings:
          -
            id: ft-check
            name: Check
          -
            id: ft-xcompliment
            name: X-Compliment
          -
            id: ft-warning
            name: Warning
  -
    id: dialogue
    name: Dialogue
---
<section class="d-section" id="flavortext">
	<h2>Flavor text</h2>

	<h3 id="encounter">Initial encounter</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>C. Round attacked violently!</d-text>
		<d-text asterisk>(You recall Ralsei's advice to include Susie in an ACT.)</d-text>
	</d-box>

	<hr>

	<h3 id="ft-standard">Standard</h3>
	<p>Unused, as the battle is scripted to end after the first turn, with Susie's attack knocking C. Round out of the encounter without commentary even if no ACT (other than Check) is used.</p>
	<d-box theme="battlemenu">
		<d-text asterisk>C.Round continues to act extremely violent.</d-text>
	</d-box>

	<hr>

	<h3 id="ft-check">Check</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>C.ROUND - AT 1 DF 0</d-text>
		<d-text asterisk>Despite appearances, it's trying its best to defeat you.</d-text>
	</d-box>

	<hr>

	<h3 id="ft-xcompliment">{% include acticon chara="Susie" -%} X-Compliment</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>You ordered Susie to flatter the enemy!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="0"></d-sprite>
		<d-text asterisk>... what? Why the HELL would I do that?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="1"></d-sprite>
		<d-text asterisk>IT attacked US.</d-text>
		<d-text asterisk>Let's smash it before it moves.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="0"></d-sprite>
		<d-text asterisk>Aww, look, Susie!</d-text>
		<d-text asterisk>It seems harmless!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="8"></d-sprite>
		<d-text asterisk>If you act nice, we might win without hurting it!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="0"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="2"></d-sprite>
		<d-text asterisk>... okay, okay.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="1"></d-sprite>
		<d-text asterisk>Hey, little guy.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="4"></d-sprite>
		<d-text asterisk>I really like the ax in your face.</d-text>
	</d-box>
	<p class="note">Susie attacks C. Round, knocking it out of the encounter.</p>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="4"></d-sprite>
		<d-text asterisk>Where'd you get it?</d-text>
		<d-text asterisk>Heh heh heh heh.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="3"></d-sprite>
		<d-text asterisk>(Umm, Kris, maybe I should talk to her...)</d-text>
	</d-box>
	<p class="note">The encounter ends here.</p>

	<hr>

	<h3 id="ft-warning">{% include acticon chara="Ralsei" -%} Warning</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>You warned C.Round about Susie.</d-text>
		<d-text asterisk>It seems barely cognizant of what that means.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="0"></d-sprite>
		<d-text asterisk>Hey, wait.</d-text>
		<d-text asterisk>Why the hell are you giving the ENEMY advice?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="6"></d-sprite>
		<d-text asterisk>Umm, so we don't accidentally hurt it...?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="0"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="8"></d-sprite>
		<d-text asterisk>HURTING IT's the point, you MORON.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="1"></d-sprite>
		<d-text asterisk>It attacked us.</d-text>
		<d-text asterisk>So it dies.</d-text>
		<d-text asterisk>Simple, right?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="8"></d-sprite>
		<d-text asterisk>B-but Susie, what if the enemy might be, um, nice?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="0"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="2"></d-sprite>
		<d-text asterisk>Okay, yeah, there's a word for that.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="0"></d-sprite>
		<d-text asterisk>Oh?</d-text>
		<d-text asterisk>What is it?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="4"></d-sprite>
		<d-text asterisk>Striking first.</d-text>
	</d-box>
	<p class="note">Susie attacks C. Round, but it walks out of the encounter and the attack misses.</p>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="7"></d-sprite>
		<d-text asterisk>Urgh, you IDIOTS!</d-text>
		<d-text asterisk>It got away!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="3"></d-sprite>
		<d-text asterisk>(Wow, that was close, Kris...)</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="3"></d-sprite>
		<d-text asterisk>(M-maybe I should talk to her...)</d-text>
	</d-box>
	<p class="note">The encounter ends here.</p>
</section>

<section class="d-section" id="dialogue">
	<h2>Dialogue</h2>

	<p>No dialogue; C. Round does not talk.</p>
</section>