---
title: Meeting Spamton NEO

description: >
  <p>Kris faces the consequences of inserting the Loaded Disk into the machine.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_GlobalScript_scr_text
    chapters: [2]
    note: machine interaction, pre-disk load
  -
    name: gml_Object_obj_readable_room1_Other_10
    chapters: [2]
    note: machine interaction, post-disk load
  -
    name: gml_Object_obj_ch2_sceneex2_Step_0
    chapters: [2]
    note: pre-fight cutscene
  -
    name: gml_Object_obj_ch2_sceneex2a_Step_0
    chapters: [2]
    note: post-fight cutscene

toc:
  -
    id: machine
    name: Inserting the Loaded Disk
  -
    id: prefight
    name: Before the fight
  -
    id: postfight
    name: After the fight
---
<section class="d-section" id="machine">
	<h2>Inserting the <a href="{{ '/misc/darkitems#loadeddisk' | relative_url }}">Loaded Disk</a></h2>
	<p class="note">Kris returns to the <a href="{{ '/locations/cyberworld/queenmansion/basement#machine' | relative_url }}">machine in the basement</a> with the Loaded Disk in hand.</p>

	<d-box theme="dark">
		<d-text asterisk>(There's a slot for a disk here.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(Insert the LoadedDisk?)</d-text>
	</d-box>
	<d-choices theme="dark">
		<d-option index="0" text="Yes"></d-option>
		<d-option index="1" text="No"></d-option>
	</d-choices>
	<d-option-panel index="0" theme="dark">
		<p class="note">The Loaded Disk is removed from the inventory.</p>
		<d-box theme="dark">
			<d-text asterisk>(You put the disk into the broken down mechanism.)</d-text>
		</d-box>
		<d-box theme="dark">
			<d-text asterisk>(...)</d-text>
		</d-box>
		<d-box theme="dark">
			<d-text asterisk>(Nothing happened.)</d-text>
		</d-box>
	</d-option-panel>
	<d-option-panel index="1" theme="dark">
		<p class="note">Dialogue ends.</p>
	</d-option-panel>

	<p class="note">Interacting with the machine again does nothing:</p>
	<d-box theme="dark">
		<d-text asterisk>(You tapped the mechanism.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(... Nothing happened.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(You shook the mechanism.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(You hit it.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(You kicked it.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(...)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(Nothing happened.)</d-text>
	</d-box>

	<p class="note">The only option is to leave the area.</p>
</section>

<section class="d-section" id="prefight">
	<h2>Before the fight</h2>

	<p class="note">As Kris walks out of the long room with rollercoaster tracks, a shadowed figure hanging from green wires abruptly drops down in their way, throwing them back and leaving them kneeling. The shadow's head jerks unnaturally a few times, and the screen fades to black.</p>

	<p class="note">Eyes flash in the dark, pink and yellow.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>HOLY [[Cungadero]] DO I FEEL GOOD ...</d-text>
	</d-box>

	<p class="note">The screen brightens to reveal Spamton NEO. <a href="{% include wikilink page='Deal Gone Wrong' %}">Deal Gone Wrong</a> plays as Spamton NEO's head jerks here and there, limbs swinging.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>HERE I AM!! KRIS!!</d-text>
	</d-box>

	<p class="note">Spamton NEO's head grows larger.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>BIG</d-text>
	</d-box>

	<p class="note">And larger...</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>BIG,</d-text>
	</d-box>

	<p class="note">And larger.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>[[BIGGER AND BETTER THAN EVER]]</d-text>
	</d-box>

	<p class="note">His head returns to its normal size. Kris gets to their feet.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>HA HA HA ... THIS POWER IS</d-text>
	</d-box>

	<p class="note">He looks down at Kris.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>FREEDOM.</d-text>
	</d-box>

	<p class="note">His head starts jerking around again.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>I WON'T HAVE TO BE</d-text>
		<d-text asterisk>JUST A PUPPET</d-text>
		<d-text asterisk>ANY MORE!!!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>...</d-text>
	</d-box>

	<p class="note">Spamton NEO turns away from Kris.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>OR... so... I... thought.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>WHAT ARE THESE STRINGS!?</d-text>
		<d-text asterisk>WHY AM I NOT [BIG] ENOUGH!?</d-text>
		<d-text asterisk>It's still DARK... SO DARK!</d-text>
	</d-box>

	<p class="note">He abruptly turns around and swings towards Kris, who backs away, startled.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>KRIS.</d-text>
	</d-box>

	<p class="note">Again, Spamton NEO approaches and Kris backs up.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>KRIS.</d-text>
		<d-text asterisk>KRIS.</d-text>
		<d-text asterisk>KRIS.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>THAT'S RIGHT.</d-text>
		<d-text asterisk>YOU.</d-text>
		<d-text asterisk>I NEED YOU.</d-text>
	</d-box>

	<p class="note">Once again, Spamton NEO approaches and Kris backs up. Spamton NEO's head grows larger.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>TO BE BIG.</d-text>
		<d-text asterisk>WITH ME.</d-text>
	</d-box>

	<p class="note">Spamton NEO's head grows larger.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>VERY &nbsp; VERY&nbsp; &nbsp; BIG</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>SO BIG WE'LL STAND UP TALL AND SEE PAST THE DARK</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>STAND UP WITH OUR HEADS IN THE CLOUDS AND LOOK INTO</d-text>
	</d-box>

	<p class="note">Spamton NEO jerks towards Kris, backing them up into a crouch against the wall as he looms over them.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>H E A V E N</d-text>
	</d-box>

	<p class="note">Spamton NEO draws back slightly and his head returns to its normal size. He lifts an arm with a cannon at its end, leveling it at Kris.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>I</d-text>
		<d-text asterisk>JUST NEED</d-text>
		<d-text asterisk>THAT LITTLE,</d-text>
	</d-box>

	<p class="note">The cannon starts to glow as it charges.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>[[SOUL]]</d-text>
		<d-text asterisk>Y O U HAVE</d-text>
	</d-box>

	<p class="note">Spamton NEO approaches Kris, laughing, and has almost reached them when a Rude Buster flies in from screen left and sends him flying offscreen. Susie and Ralsei run over, pausing when they see Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="4"></d-sprite>
		<d-text asterisk>Kris!</d-text>
	</d-box>

	<p class="note">They run over to Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="4"></d-sprite>
		<d-text asterisk>The hell was that weirdo!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Ralsei" emotion="Q"></d-sprite>
		<d-text asterisk>Kris, we were worried about you, so...</d-text>
	</d-box>

	<p class="note">The wall behind Kris disappears, surprising Susie and Ralsei and revealing that the rollercoaster tracks extend further ahead.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>KRIS!!! YOU HAVE [Friends]!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>WHY DON'T YOU TELL THEM ABOUT MY [3 for One Specil]!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>TODAY, THE WHOLE FAMILY CAN TAKE A LITTLE [Ride Around Town]...</d-text>
	</d-box>

	<p class="note">Susie and Ralsei jump in alarm when Spamton-themed rollercoaster carts appear behind them; the party jumps into the coasters. Spamton NEO speaks over the rumbling of the coasters.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>[Attention Customers! Clean up on Aisle 3!]</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>SOMEONE LEFT [There] SOULS, [Lyeing Around......]</d-text>
	</d-box>

	<p class="note">Blue Spamton head-shaped bullets come flying at the party, but before they can land, the background cuts to black and the SOUL appears. It turns sideways, becoming yellow, and can fire shots at the heads to destroy them, ending with a charged-up big shot to destroy the largest bullet.</p>

	<p class="note">The background cuts back in, with Spamton NEO now dangling over the tracks in front of the alarmed party.</p>

	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>Kris!?!? WAS THAT A [BIG SHOT] JUST NOW!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>WOW!!!</d-text>
		<d-text asterisk>I'M SO [Proud] OF YOU, I COULD [Killed] YOU!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>[Heaven], are you WATCHING?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton NEO</d-speaker>
		<d-text asterisk>IT'S TIME TO MAKE A VERY [Specil] DEAL...</d-text>
	</d-box>

	<p class="note">Spamton NEO laughs. Kris stands and Susie and Ralsei recover from their shock, all three <a href="{{ '/encounters/spamtonneo' | relative_url }}">preparing for battle</a>.</p>
</section>

<section class="d-section" id="postfight">
	<h2>After the fight</h2>

	<p class="note">The basement fades back in to show Spamton's original form hanging from the ceiling, tangled up in vines. The party members stand in front of him while <a href="{% include wikilink page='Dialtone' %}">Dialtone</a> plays.</p>

	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>It seems after all I couldn't be anything more than a simple puppet.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>But you three... You're strong.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>With a power like that...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>Maybe you three can break your own strings.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>Let me become your strength.</d-text>
	</d-box>

	<p class="note">Spamton and the vines disappear. A spark of light falls from where he was to Kris, disappearing when it reaches their pockets.</p>

	<d-box theme="dark">
		<d-text asterisk>(You got ShadowCrystal.)</d-text>
	</d-box>
	<p class="note">A <a href="{{ '/misc/darkitems#shadowcrystal' | relative_url }}">Shadow Crystal</a> is added to the inventory.</p>

	<hr class="hr2">
	<h3 id="postfight-violent">If Spamton NEO was defeated</h3>
	<d-box theme="dark">
		<d-text asterisk>(You got PuppetScarf.)</d-text>
	</d-box>
	<hr class="hr3">
	<h3 id="postfight-nonviolent">If Spamton NEO was spared</h3>
	<d-box theme="dark">
		<d-text asterisk>(You got Dealmaker.)</d-text>
	</d-box>

	<hr class="hr2">

	<h3 id="hasroom">If the weapons/armor inventory has space</h3>
	<p class="note">The music cuts out without further commentary.</p>

	<hr class="hr3">

	<h3 id="noroom">If the weapons/armor inventory is full</h3>
	<d-box theme="dark">
		<d-text asterisk>(... but your inventory was full.)</d-text>
	</d-box>
	<p class="note">The music cuts out as the spark of light reappears at Kris's waist.</p>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>... Kris...?</d-text>
		<d-text asterisk>Kris!?</d-text>
		<d-text asterisk>KRIS!?!?!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>YOU FILLED YOUR [Inventorium] WITH [Half-Pr1ce Sallamy] JUST TO KEEP ME OUT!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>WHAT!</d-text>
		<d-text asterisk>THE!</d-text>
		<d-text asterisk>[Fifty Percent Off]!?</d-text>
	</d-box>
	<p class="note">(There's a pause after the "F", before the rest of the text appears.)</p>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>YOU CAN CARRY LIKE 48 ITEMS!!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>[Why] DID YOU DO THIS!?</d-text>
		<d-text asterisk>WHY!? [Y]!? [Yellow]!? [Gamma]!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Spamton</d-speaker>
		<d-text asterisk>NOT [Cool] KRIS!</d-text>
		<d-text asterisk>I'LL BE IN MY [Trailer]!</d-text>
	</d-box>
	<p class="note">With a slide whistle SFX, the spark of light flies offscreen to the right. A chest appears outside the room containing the obtained equipment.</p>

	<hr class="hr2">

	<p class="note">Back in Cyber City, the Addisons leave their posts to gather at the <a href="{{ '/chapters/chapter2/trashzonepostspamton' | relative_url }}">Trash Zone</a>.</p>
</section>