---
title: Making truces

description: >
  <p>Kris enters Cyber City's first alleyway and forms truces with Noelle, Queen, and Berdly.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_ch2_city01_Step_0
    chapters: [2]
  -
    name: gml_GlobalScript_scr_text
    chapters: [2]
    note: choices

toc:
  -
    id: meeting
    name: Running into the others
  -
    id: savepoint
    name: SAVE point
  -
    id: leave
    name: Leaving
    subheadings:
      -
        id: leave-left
        name: To the left
      -
        id: leave-right
        name: To the right
---
<section class="d-section" id="meeting">
	<h2>Running into the others</h2>

	<p class="note">As Kris approaches Noelle, standing in the center of an alleyway, the music fades. Noelle turns around, noticing Kris.</p>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="F"></d-sprite>
		<d-text asterisk>K-Kris!! What are you---</d-text>
	</d-box>
	<p class="note">Queen speaks from somewhere offscreen:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Oh Noelle Sweetie</d-text>
	</d-box>
	<p class="note">Noelle turns to look further down the alleyway, alerted. Then she runs into a niche in the wall, crouching down in the shadows and putting her hands over her mouth.</p>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="E"></d-sprite>
		<d-text asterisk>(Don't let her find me...)</d-text>
	</d-box>
	<p class="note">A slight pause. Queen enters from the right side of the alleyway and pauses at the bend. <a href="{% include wikilink page='Queen (Soundtrack)' %}">Her theme</a> begins playing as she speaks.</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Noelle Sweetie Darling Honey Where Are You</d-text>
	</d-box>
	<p class="note">She turns around, laughing.</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="C"></d-sprite>
		<d-text asterisk>We're A Team Now Remember</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="C"></d-sprite>
		<d-text asterisk>You Still Have To Be My Willing Minion</d-text>
	</d-box>
	<p class="note">She walks forward, stopping when she notices Kris.</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>... Kris</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>It Appears</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="B"></d-sprite>
		<d-text asterisk>Our Comrades Have Pressed The Escape Key On Us</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>.... So It Has Come To This...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>In Order To Find Our Teams</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="4"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>We Must Form An Uneasy Truce...</d-text>
	</d-box>
	<p class="note">Queen turns to the side, looking shocked, as Berdly speaks from offscreen:</p>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="6"></d-sprite>
		<d-text asterisk>Queen!! My splendid Queen!! Where are you!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="8"></d-sprite>
		<d-text asterisk>Oh No Don't Let Him Find Me</d-text>
	</d-box>

	<p class="note">Queen hurries over to the same niche where Noelle is hiding; she jumps up and into the niche, bracing a foot and a hand against either side of the niche and keeping herself in the air. Noelle looks up at her, her eyes huge and round.</p>
	<p class="note">Meanwhile, Berdly enters from the right side of the alleyway and stops when he notices Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="0"></d-sprite>
		<d-text asterisk>Ah, Kris... NOT the lifeform I was looking for.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="3"></d-sprite>
		<d-text asterisk>... Hmm? Where's the rest of the C+ Squad?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="7"></d-sprite>
		<d-text asterisk>Don't tell me you got abandoned!? HA!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="2"></d-sprite>
		<d-text asterisk>HAHA!! That's what you get for trusting Susie!! HA!!</d-text>
	</d-box>

	<p class="note">Berdly suddenly looks shocked.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="3"></d-sprite>
		<d-text asterisk>H... Huh? Noelle? Queen?</d-text>
	</d-box>

	<p class="note">Berdly turns away from Kris, raising his clenched fists and looking aggrieved.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="B"></d-sprite>
		<d-text asterisk>They're just... busy retro gaming somewhere!!</d-text>
	</d-box>

	<p class="note">He turns back to Kris, now looking smug.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="6"></d-sprite>
		<d-text asterisk>I bet they're waiting for me on the player select screen!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="2"></d-sprite>
		<d-text asterisk>Listening to strangely groovy music!! HAHA! HA!! HA!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="8"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>

	<p class="note">Berdly turns to the side away from the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="9"></d-sprite>
		<d-text asterisk>...Sigh.</d-text>
	</d-box>

	<p class="note">He turns to Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="A"></d-sprite>
		<d-text asterisk>So it's come to this.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="9"></d-sprite>
		<d-text asterisk>In order to find our respective teams...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="0"></d-sprite>
		<d-text asterisk>It APPEARS...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="J"></d-sprite>
		<d-text asterisk>We must form an uneasy truce...</d-text>
	</d-box>

	<p class="note">Hidden in her niche, Queen looks shocked and angry.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="8"></d-sprite>
		<d-text asterisk>What The</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="H"></d-sprite>
		<d-text asterisk>Who The Beep Said You Could Double Trucies</d-text>
	</d-box>

	<p class="note">A pause. Berdly turns to the side away from the player and facing the niche.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="3"></d-sprite>
		<d-text asterisk>Huh? Did you hear something?</d-text>
	</d-box>

	<p class="note">A pause. Queen smiles again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="C"></d-sprite>
		<d-text asterisk>Honk Honk No It's Just The Sounds Of The City</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="I"></d-sprite>
		<d-text asterisk>Oh okay.</d-text>
	</d-box>

	<p class="note">Berdly turns back to Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="7"></d-sprite>
		<d-text asterisk>Hmph. Well I'll be ahead. Don't be LATE!!!</d-text>
	</d-box>

	<p class="note">Berdly exits the alleyway to the right, from where he came. Once he's gone, Queen jumps down from the niche, Noelle growing somewhat calmer once she's gone. Now standing normally in the center of the alleyway, Queen faces Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Kris As Part Of Our Truce (The Better One)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Keep Distracting Berdly And Find Noelle</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="4"></d-sprite>
		<d-text asterisk>For You See...</d-text>
	</d-box>

	<p class="note">Queen turns away from Kris and takes a few steps away. A pause.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>Berdly... He's...</d-text>
	</d-box>

	<p class="note">A pause. Queen turns to face Kris again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>OK There's Nothing Wrong With Him He's Just Annoying</d-text>
	</d-box>

	<p class="note">Queen begins walking towards the right side of the alleyway, speaking as she goes; her theme fades into silence as she leaves.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Toodles</d-text>
	</d-box>

	<p class="note">Once Queen is gone, Noelle emerges from the niche and approaches Kris, the camera panning to focus on them both.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="9"></d-sprite>
		<d-text asterisk>Kris, I... um... if it's okay...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>... G-got any room for another truce?</d-text>
	</d-box>

	<d-choices theme="dark">
		<d-option index="0" text="Of course"></d-option>
		<d-option index="1" text="No Triple#Trucies"></d-option>
	</d-choices>
	<d-option-panel index="0" theme="dark">
		<d-box theme="dark">
			<d-sprite speaker="Noelle" emotion="4"></d-sprite>
			<d-text asterisk>Thanks, Kris...</d-text>
		</d-box>
	</d-option-panel>
	<d-option-panel index="1" theme="dark">
		<d-box theme="dark">
			<d-sprite speaker="Noelle" emotion="8"></d-sprite>
			<d-text asterisk>Har har, very funny!</d-text>
		</d-box>
		<d-box theme="dark">
			<d-sprite speaker="Noelle" emotion="8"></d-sprite>
			<d-text asterisk>Well, I'd rather take my chances with you than her!</d-text>
		</d-box>
	</d-option-panel>

	<p class="note">A <a href="{% include wikilink page='Hidden Music Tracks#charjoined' %}">gentle piano fanfare</a> plays.</p>

	<d-box theme="dark">
		<d-text asterisk>(Noelle joined the party!)</d-text>
	</d-box>

	<p class="note">Noelle gets into line behind Kris. Control is returned to the player, who can either <a href="#leave">continue out of the alleyway</a> or make a stop at the newly-spawned <a href="#savepoint">SAVE point</a>.</p>
</section>

<section class="d-section" id="savepoint">
	<h2>SAVE point</h2>
	<p>Appears in the niche where Noelle and Queen were hiding, once the above cutscene ends. (This narration plays only when Noelle is in the party; see the <a href="{{ '/misc/savepoints#firstalleyway' | relative_url }}">SAVE points page</a> for the alternate narration when she's not present.)</p>

	<d-box theme="dark">
		<d-text asterisk>Noelle has joined your party.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>You are filled with the power of not knowing what a sugarplum is.</d-text>
	</d-box>
</section>

<section class="d-section" id="leave">
	<h2>Leaving</h2>
	<p>The below sets of dialogue are available only once each. Also, they only play immediately after the "triple trucies" conversation ends; if you reenter this area or reload this SAVE file, these dialogues will not play.</p>

	<h3 id="leave-left">To the left</h3>
	<p>That is, backtracking towards the <a href="{{ '/locations/cyberworld/cybercity/trashzone' | relative_url }}">Trash Zone</a> and the <a href="{{ '/chapters/chapter2/city1#tutorial' }}">Virovirokun encounter</a> along the way.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>K... Kris...? Isn't that the wrong way...?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Somehow I'm already regretting this...)</d-text>
	</d-box>

	<hr>

	<h3 id="leave-right">To the right</h3>
	<p>That is, heading further into Cyber City, towards the <a href="{{ '/chapters/chapter2/city1#annoyingmouseroom' | relative_url }}">Annoying Mouse Room</a>.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="S"></d-sprite>
		<d-text asterisk>So, um, any idea where Susie is?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="N"></d-sprite>
		<d-text asterisk>What!? WHAT!? I'm just asking!! It's a normal question!!</d-text>
	</d-box>
</section>