---
title: Sealing the Dark Fountain

description: >
  <p>Kris and Susie seal the Card Kingdom's Fountain.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_fountainkris_Step_0
    chapters: [1]
    note: dialogue
  -
    name: gml_Object_obj_darkfountain_event_Draw_0
    chapters: [1]
    note: ending SOUL actions
---
<section class="d-section">
	<p class="note"><a href="{% include wikilink page='THE HOLY' %}">THE HOLY</a> plays as Kris and Susie walk forward in a dark area illuminated only by the shifting glow of the Dark Fountain. They stop in front of the Fountain.</p>

	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>Is this... the fountain...?</d-text>
	</d-box>
	<p class="note">Susie turns to Kris.</p>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>Dunno how, but...</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>It feels like we<span class="break"></span> stumbled into</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>something really<span class="break"></span> important, didn't we...?</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>...</d-text>
	</d-box>

	<p class="note">Susie turns to the Fountain.</p>

	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>Well, there's no time to<span class="break"></span> think about that now.</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>Right now...</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>It's time to go home,</d-text>
	</d-box>
	<d-box theme="fade">
		<d-speaker>Susie</d-speaker>
		<d-text>right, Kris?</d-text>
	</d-box>

	<p class="note">Kris approaches the Fountain.</p>

	<d-box theme="fade">
		<d-text>(As you stood in front<span class="break"></span> of the fountain,)</d-text>
	</d-box>
	<d-box theme="fade">
		<d-text>(You felt something strange.)</d-text>
	</d-box>
	<d-box theme="fade">
		<d-text>(It was as if)</d-text>
	</d-box>
	<d-box theme="fade">
		<d-text>(Your very SOUL was glowing...)</d-text>
	</d-box>

	<p class="note">Kris's SOUL flashes into view. <a href="{% include wikilink page='Your Power' %}">Your Power</a> plays as it floats forward into the center of the Fountain, illuminating it from inside as the SOUL glows bright enough to turn the screen white. The screen then fades into black as <a href="{{ '/story/chapter1/return' | relative_url }}">Kris and Susie return to the Light World</a>.</p>
</section>