---
title: Encounters

description: >
  <p>Flavor text, dialogue, and ACT responses for combat encounters.</p>

toc:
  -
    id: chapter1
    name: Chapter 1
  -
    id: chapter2
    name: Chapter 2
  -
    id: other
    name: Other

items:
  -
    id: chapter1
    name: Chapter 1
    sublist:
      -
        name: Castle Town
        sublist:
          -
            url: lancervslightners
            name: Lancer (first encounter, VS Kris and Susie)
          -
            url: dummy
            name: Dummy
          # also unused ralsei fight
      -
        name: Field
        sublist:
          -
            url: rudinn
            name: Rudinn
          -
            url: hathy
            name: Hathy
          -
            url: cround
            name: C. Round
          -
            url: jigsawry
            name: Jigsawry
      -
        name: Great Board
        sublist:
          -
            url: ponman
            name: Ponman
          -
            url: kroundgreatboard
            name: K. Round (first encounter)
      -
        name: Forest
        sublist:
          -
            url: rabbick
            name: Rabbick
          -
            url: bloxer
            name: Bloxer
          -
            url: clover
            name: Clover
          -
            url: badguys
            name: Susie and Lancer
      -
        name: Card Castle
        sublist:
          -
            url: lancervssusie
            name: Lancer (second encounter, VS Susie)
          -
            url: rudinnranger
            name: Rudinn Ranger
          -
            url: headhathy
            name: Head Hathy
          -
            url: kroundcardcastle
            name: K. Round (second encounter)
          -
            url: king
            name: King
          -
            url: jevil
            name: Jevil
  -
    id: chapter2
    name: Chapter 2
    sublist:
      -
        name: Cyber Field
        sublist:
          # Werewire
          -
            url: tasque
            name: Tasque
          # Virovirokun, Sweet Cap'n Cakes
      -
        name: Cyber City
        sublist:
          -
            url: poppup
            name: Poppup
          -
            url: maus
            name: Maus
          # Spamton
          -
            url: ambyulance
            name: Ambyu-Lance
      -
        name: Queen's Mansion
        sublist:
          # Swatchling, Tasque Manager, Mauswheel, Werewerewire, Spamton NEO, Queen, GIGA Queen
  -
    id: other
    name: Other
    sublist:
      -
        name: Party Dojo
        sublist:
          -
            url: cloverdojo
            name: Clover Rematch
      -
        name: Unused
        sublist:
          -
            url: placeholder
            name: Placeholder enemy
---
{% for section in page.items -%}
<section class="d-section" id="{{ section.url | default: section.id }}">
	<h2>{{ section.name }}</h2>
	{% assign sectionurl = "/encounters/" | append: section.url -%}

	<ul>
		{% for item in section.sublist -%}
		{% include nested_list_item parent=sectionurl this=item %}
		{%- else -%}
		<li class="gray">To be added!</li>
		{% endfor %}
	</ul>
</section>
{% endfor -%}