---
title: King encounter

description: >
  <p>Flavor text and dialogue for the battle against King.</p>

sources:
  -
    name: gml_Object_obj_king_boss_Step_0
    chapters: [1]
    note: flavor text and dialogue
  -
    name: gml_GlobalScript_scr_monstersetup
    chapters: [1]
    note: ACT names
  -
    name: gml_GlobalScript_scr_encountersetup
    chapters: [1]
    note: initial flavor text

credits: >
  <p>Compiled by wovenstarlight.</p>

toc:
  -
    id: flavortext
    name: General flavor text
    subheadings:
      -
        id: encounter
        name: Initial encounter
      -
        id: ft-neutral
        name: Neutral
      -
        id: ft-lowhp
        name: Low HP
  -
    id: dialogue
    name: Dialogue
  -
    name: ACTs
    subheadings:
      -
        id: check
        name: Check
      -
        id: talk-kris
        name: Talk
      -
        id: courage
        name: Courage
      -
        id: talk-susie
        act_icon: Susie
        name: Talk
      -
        id: redbuster
        act_icon: Susie
        name: Red Buster
      -
        id: talk-ralsei
        act_icon: Ralsei
        name: Talk
      -
        id: dualheal
        act_icon: Ralsei
        name: Dual Heal
---
<section class="d-section" id="flavortext">
	<h2>General flavor text</h2>

	<h3 id="encounter">Initial encounter</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>King blocked the way!</d-text>
	</d-box>

	<hr>

	<h3 id="ft-neutral">Neutral</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>Darkness pours from the fountain.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>KING's mouths gave a berserk smile.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>The battlefield is rumbling.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>KING's mouths babble indecipherably.</d-text>
	</d-box>

	<hr>

	<h3 id="ft-lowhp">Low HP</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>KING's cape flutters weakly.</d-text>
	</d-box>
</section>

<section class="d-section" id="dialogue">
	<h2>Dialogue</h2>
	<p>Dialogue is entirely scripted. The fight ends in at most 15 turns, with the below lines playing out in order.</p>

	<h3 id="dialogue1">Turn 1</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>How dare you<span class="break"></span> come here,<span class="break"></span> Lightners...?</d-text>
	</d-box>

	<h3 id="dialogue2">Turn 2</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>You, that<span class="break"></span> left us in<span class="break"></span> the shadows,<span class="break"></span> stripped of<span class="break"></span> meaning...</d-text>
	</d-box>

	<h3 id="dialogue3">Turn 3</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>You DARE<span class="break"></span> return<span class="break"></span> to torment us<span class="break"></span> once again?</d-text>
	</d-box>

	<h3 id="dialogue4">Turn 4</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Begone!</d-text>
		<d-text>We have found<span class="break"></span> fresh<span class="break"></span> purpose.</d-text>
	</d-box>

	<h3 id="dialogue5">Turn 5</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>For the<span class="break"></span> KNIGHT<span class="break"></span> has appeared.</d-text>
	</d-box>

	<h3 id="dialogue6">Turn 6</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>The KNIGHT<span class="break"></span> that pulls<span class="break"></span> the Fountains<span class="break"></span> from the<span class="break"></span> Earth.</d-text>
	</d-box>

	<h3 id="dialogue7">Turn 7</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Holy<span class="break"></span> Fountains,<span class="break"></span> whose shadows<span class="break"></span> are creating<span class="break"></span> a new<span class="break"></span> world...</d-text>
	</d-box>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>OUR world.</d-text>
	</d-box>

	<h3 id="dialogue8">Turn 8</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Hahaha...</d-text>
		<d-text>Do you see<span class="break"></span> now our NEW<span class="break"></span> purpose...?</d-text>
	</d-box>

	<h3 id="dialogue9">Turn 9</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Soon, this<span class="break"></span> world<span class="break"></span> shall be<span class="break"></span> blanketed<span class="break"></span> in darkness...</d-text>
	</d-box>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>And DARKNERS<span class="break"></span> shall RULE<span class="break"></span> it!</d-text>
	</d-box>

	<h3 id="dialogue10">Turn 10</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Then, you may<span class="break"></span> see what it is<span class="break"></span> like to live<span class="break"></span> in DESPAIR!</d-text>
	</d-box>

	<h3 id="dialogue11">Turn 11</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Now, enough<span class="break"></span> talk!</d-text>
	</d-box>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>Fall before<span class="break"></span> the chain of<span class="break"></span> justice!</d-text>
	</d-box>

	<h3 id="dialogue12">Turn 12</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>... ha,<span class="break"></span> you're<span class="break"></span> quite strong,<span class="break"></span> aren't you!?</d-text>
	</d-box>

	<h3 id="dialogue13">Turn 13</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>If I keep<span class="break"></span> fighting you<span class="break"></span> like this,<span class="break"></span> then...</d-text>
	</d-box>

	<h3 id="dialogue14">Turn 14</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>It seems...<span class="break"></span> that...</d-text>
	</d-box>

	<h3 id="dialogue15">Turn 15</h3>
	<d-box theme="battletalk">
		<d-speaker>King</d-speaker>
		<d-text>My KNIGHT...<span class="break"></span> I shall not<span class="break"></span> fail you...</d-text>
	</d-box>
</section>

<section class="d-section" id="check">
	<h2>Check</h2>
	<d-box theme="battlemenu">
		<d-text asterisk>KING - Abandoned by the Lightners, his heart became cracked with hatred.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>He cannot be reasoned with, but don't give up...!</d-text>
	</d-box>
</section>

<section class="d-section" id="talk-kris">
	<h2>Talk</h2>

	<h3 id="talk-kris-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>You tried to reason with the King...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="5"></d-sprite>
		<d-text asterisk>Silence, Lightbringer!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="5"></d-sprite>
		<d-text asterisk>Your very existence goes against our own...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="0"></d-sprite>
		<d-text asterisk>By the Knight's will, I shall shatter your heart to pieces!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>Your will is changing...</d-text>
		<d-text asterisk><span class="yellow">TALK</span> became <span class="yellow">COURAGE</span>!</d-text>
	</d-box>
	<p class="note">The Talk ACT is replaced by <a href="#courage">Courage</a>.</p>
</section>

<section class="d-section" id="courage">
	<h2>Courage</h2>
	<p>Replaces the Talk ACT.</p>

	<h3 id="courage-description">Description</h3>
	<d-box theme="battledesc">
		<d-text>Defense Boost</d-text>
		<d-text class="orange">25% TP</d-text>
	</d-box>

	<hr>

	<h3 id="courage-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>You encouraged the party!</d-text>
		<d-text asterisk>The party's DEFENSE raised for this turn!</d-text>
	</d-box>
	<p class="note">King's attacks do 20% less damage.</p>
</section>

<section class="d-section" id="talk-susie">
	<h2>{% include acticon chara="Susie" -%} Talk</h2>

	<h3 id="talk-susie-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>Susie tried to reason with the King...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="1"></d-sprite>
		<d-text asterisk>Arright, listen up.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="2"></d-sprite>
		<d-text asterisk>Lancer's my friend.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="C"></d-sprite>
		<d-text asterisk>So if we can get by without hurting you, then...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="0"></d-sprite>
		<d-text asterisk>If I perish, so be it!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="4"></d-sprite>
		<d-text asterisk>Show my son the monster you REALLY are!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="C"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Susie" variant="noeyes" emotion="3"></d-sprite>
		<d-text asterisk>Arright, you wanna see what I can do, huh?</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>Susie's will is changing...</d-text>
		<d-text asterisk><span class="yellow">TALK</span> became <span class="yellow">RED BUSTER</span>!</d-text>
	</d-box>
	<p class="note">The {% include acticon chara="Susie" -%} Talk ACT is replaced by <a href="#redbuster">Red Buster</a>.</p>
</section>

<section class="d-section" id="redbuster">
	<h2>{% include acticon chara="Susie" -%} Red Buster</h2>
	<p>Replaces the {% include acticon chara="Susie" -%} Talk ACT.</p>

	<h3 id="redbuster-description">Description</h3>
	<d-box theme="battledesc">
		<d-text>Red Damage</d-text>
		<d-text class="orange">60% TP</d-text>
	</d-box>

	<hr>

	<h3 id="redbuster-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>Your SOUL shined its power on Susie!</d-text>
	</d-box>
	<p class="note">Susie attacks.</p>
</section>

<section class="d-section" id="talk-ralsei">
	<h2>{% include acticon chara="Ralsei" -%} Talk</h2>

	<h3 id="talk-ralsei-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>Ralsei tried to reason with the King...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="B"></d-sprite>
		<d-text asterisk>You might not realize it, but...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="6"></d-sprite>
		<d-text asterisk>This is a world where you don't have to fight.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="8"></d-sprite>
		<d-text asterisk>I know if we try, we can all find another way...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="6"></d-sprite>
		<d-text asterisk>Such simple-minded platitudes...</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="0"></d-sprite>
		<d-text asterisk>A shame you will not live to realize your naivety.</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="King" emotion="4"></d-sprite>
		<d-text asterisk>Now, perish with the pathetic LIGHTNERs you worship!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-sprite speaker="Ralsei" variant="hat" emotion="8"></d-sprite>
		<d-text asterisk>Sorry, my friends and I aren't going anywhere!</d-text>
	</d-box>
	<d-box theme="battlemenu">
		<d-text asterisk>Ralsei's will is changing...</d-text>
		<d-text asterisk><span class="yellow">TALK</span> became <span class="yellow">DUAL HEAL</span>!</d-text>
	</d-box>
	<p class="note">The {% include acticon chara="Ralsei" -%} Talk ACT is replaced by <a href="#dualheal">Dual Heal</a>.</p>
</section>

<section class="d-section" id="dualheal">
	<h2>{% include acticon chara="Ralsei" -%} Dual Heal</h2>
	<p>Replaces the {% include acticon chara="Ralsei" -%} Talk ACT.</p>

	<h3 id="dualheal-description">Description</h3>
	<d-box theme="battledesc">
		<d-text>Heals everyone</d-text>
		<d-text class="orange">50% TP</d-text>
	</d-box>

	<hr>

	<h3 id="dualheal-ft">Flavor text</h3>
	<d-box theme="battlemenu">
		<d-text asterisk>Your SOUL shined its power on RALSEI!</d-text>
	</d-box>
	<p class="note">Ralsei heals all party members for 4 times his Magic stat.</p>
</section>