---
layout: default
---
<header class="d-section">
	<h1 {%- if page.hide_title %} class="visually-hidden" {%- endif %}>{{ page.title }}</h1>

	{%- if page.credits %}
	<div id="pagecred">{{ page.credits }}</div>
	{%- endif %}

	{%- if page.description %}
	<div id="pagedesc">{{ page.description }}</div>
	{%- endif %}

	{%- if page.sources %}
	<details id="pagesrc">
		<summary>Sources</summary>
		<ul>
			{%- for source in page.sources %}
			{% include code_source src=source %}
			{%- endfor %}
		</ul>
	</details>
	{%- endif %}

	{%- if page.toc %}
	<details id="pagetoc">
		<summary>Contents</summary>
		<ol>
			{%- for heading in page.toc %}
			{% include toc_item item=heading %}
			{%- endfor %}
		</ol>
	</details>
	{%- elsif page.layout == 'indexpage' %}
	{%- comment %} Automatically generate contents from page sections. {% endcomment %}
	<details id="pagetoc">
		<summary>Contents</summary>
		<ol>
			{%- for heading in page.items %}
			{% include toc_item item=heading %}
			{%- endfor %}
		</ol>
	</details>
	{%- endif %}

	{%- if page.see_also %}
	<details id="pageseealso" {%- if page.see_also.size <= 4 %} open {%- endif -%}>
		<summary>See also</summary>
		<ul>
			{%- for link in page.see_also %}
			{% include nested_list_item this=link %}
			{%- endfor %}
		</ul>
	</details>
	{%- endif %}
</header>

{{ content }}