---
layout: default
---
<header class="d-section">
	<h1 {%- if page.hide_title %} class="visually-hidden" {%- endif %}>{{ page.title }}</h1>

	{%- if page.credits %}
	<div id="pagecred">{{ page.credits }}</div>
	{%- endif %}

	{%- if page.description %}
	<div id="pagedesc">{{ page.description }}</div>
	{%- endif %}

	{%- if page.sources %}
	<div id="pagesrc">
		<p>Sources:</p>
		<ul>
			{%- for source in page.sources %}
			<li><a href="{{ source.url }}">{{ source.name }}</a></li>
			{%- endfor %}
		</ul>
	</div>
	{%- endif %}
</header>

{{ content }}