---
title: Driving with Queen, part 1

description: >
  <p>Queen takes Kris and Noelle on a drive in her car.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_ch2_city_car_a_Step_0
    chapters: [2]
    note: pre-/post-drive
  -
    name: gml_Object_obj_caradventure_car_Step_0
    chapters: [2]
    note: during drive
  -
    name: gml_Object_obj_caradventure_object_Collision_obj_caradventure_car
    chapters: [2]
    note: getting banana
  -
    name: gml_Object_obj_npc_sign_Other_10
    chapters: [2]
    note: post-drive car interaction

toc:
  -
    id: meetup
    name: Running into Queen
  -
    id: drive
    name: Driving the car
  -
    id: trafficjam
    name: Traffic jam
---
<section class="d-section" id="meetup">
	<h2>Running into Queen</h2>

	<p class="note">After crossing a traffic-filled street, Kris and Noelle slow to a stop on a stretch of pavement as the music fades out. Queen speaks from somewhere offscreen:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Noeeeeelle Honey Where Are You</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="E"></d-sprite>
		<d-text asterisk>(Oh no, here she comes...)</d-text>
	</d-box>

	<p class="note">Noelle puts on her box disguise as <a href="{% include wikilink page='Queen (Soundtrack)' %}">Queen's theme</a> begins playing. Queen herself enters from the eastern street and stops in front of Kris, holding up a green pie.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Noelle Come Home I Made You A Battery Acid Pie</d-text>
	</d-box>

	<p class="note">Queen notices Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Oh, Kris Perfect Timing</d-text>
	</d-box>

	<p class="note">Queen turns around and flings the pie to the ground, where it shatters with an explosive boom; she turns back to Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Have You Seen --</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="2"></d-sprite>
		<d-text asterisk>Oh my Luxurious Quuuueeeeeenn!!</d-text>
	</d-box>

	<p class="note">Queen clutches her head, gasping in horror.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="8"></d-sprite>
		<d-text asterisk>Oh My Circuits Kris Get In The Car</d-text>
	</d-box>

	<p class="note">A car pulls up alongside the stretch of pavement everyone is standing on; Queen, Kris, and Noelle all get into the car. A moment later, Berdly walks in from the eastern road and stops on the same stretch of pavement, holding up a green pie. He turns around a few times, presumably looking for Queen.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="7"></d-sprite>
		<d-text asterisk>My Queen!! Where are you!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="6"></d-sprite>
		<d-text asterisk>I've baked you a Gamer's Delight!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="0"></d-sprite>
		<d-text asterisk>Hmm... she's not here...</d-text>
	</d-box>

	<p class="note">Berdly speeds off towards the west, on the path Kris and Noelle came from. The others exit the car, standing on the pavement again; Queen faces the other two, who are turned to the side facing the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="F"></d-sprite>
		<d-text asterisk>That Was Close</d-text>
	</d-box>

	<p class="note">A pause. When Queen speaks again, Kris and Noelle turn to her.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Kris</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="B"></d-sprite>
		<d-text asterisk>Who Is Your Friend</d-text>
	</d-box>

	<p class="note">Queen steps forward, but Kris takes a step back towards Noelle, blocking Queen's path to her. A pause.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>My Face Recognition Software Does Not Compute Them</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="A"></d-sprite>
		<d-text asterisk>.... And Yet</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>Something About Them Seems</d-text>
	</d-box>

	<p class="note">A pause. When Queen speaks again, Noelle turns to the side facing the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Cool</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Robotic Even</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="G"></d-sprite>
		<d-text asterisk>(...)</d-text>
	</d-box>

	<p class="note">Queen turns to her car. Meanwhile, Noelle collapses to the ground in apparent relief.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Kris We Must Drive To Find Noelle</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="C"></d-sprite>
		<d-text asterisk>Everyone Get In The Car</d-text>
	</d-box>

	<p class="note">The trio gets back in the car, which begins driving; Queen's theme is replaced by <a href="{% include wikilink page='Cool Mixtape' %}">her mixtape</a>.</p>
</section>

<section class="d-section" id="drive">
	<h2>Driving the car</h2>

	<p class="note">As soon as the car passes the crosswalk, Queen gives instructions on how to drive:</p>
	<hr class="hr2">
	<p class="note">On PC and PlayStation consoles:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>Kris Press Directions To Steer</d-text>
	</d-box>
	<hr class="hr3">
	<p class="note">On non-PlayStation consoles:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>Kris Press Directional Buttons To Steer</d-text>
	</d-box>
	<hr class="hr2">

	<p class="note">As cars start appearing:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="E"></d-sprite>
		<d-text asterisk>Kris Don't Hit The Cars!</d-text>
	</d-box>

	<hr class="hr2">

	<p class="note">If a car is hit, it flies offscreen with a yelp:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Haha Okay Actually Hit All The Cars</d-text>
	</d-box>
	<p class="note">(After 4 cars are hit, newly-spawned cars begin fleeing from the player's car.)</p>

	<hr class="hr2">

	<p class="note">After several seconds:</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>So Much Traffic Isn't It Wonderful</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Lightners Love Traffic They Look It Up All The Time</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="B"></d-sprite>
		<d-text asterisk>Poor Noelle She Would Love Hitting All These Cars</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>Umm, actually, I... she, um, might not, um...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="H"></d-sprite>
		<d-text asterisk>Stop Everything</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>Kris Get The Banana</d-text>
	</d-box>

	<p class="note">As Queen speaks, a rotating banana appears in the middle of the street.</p>

	<hr class="hr2">

	<p class="note">If you get the banana:</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Potassium</d-text>
	</d-box>

	<hr class="hr3">

	<p class="note">If you don't get the banana:</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="F"></d-sprite>
		<d-text asterisk>Kris You Are Going To Get Sick</d-text>
	</d-box>

	<hr class="hr2">

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Here Comes A Crossing Get Ready To Stop</d-text>
	</d-box>

	<p class="note">The car comes upon a crosswalk and stops immediately after it.</p>
</section>

<section class="d-section" id="trafficjam">
	<h2>Traffic jam</h2>

	<p class="note">With the car stopped safely beside a road packed with cars, the music fades to silence as Queen speaks:</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="8"></d-sprite>
		<d-text asterisk>Oh My Circuits It's A Traffic Jam</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="F"></d-sprite>
		<d-text asterisk>A Dog Must Have Wandered In The Road Again</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Kris Be A Dear And Go Press The Walk Button</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>It's Just Over On The Other Side Of The Road</d-text>
	</d-box>

	<p class="note">The camera pans to show a full 10 lanes of cars filling the road bumper-to-bumper, with the eastern road also filled with traffic. On the other side, there is indeed a traffic light post. The camera then pans back to the car.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>Umm... I'll go, too...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="6"></d-sprite>
		<d-text asterisk>No</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="6"></d-sprite>
		<d-text asterisk>You Must Stay</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="E"></d-sprite>
		<d-text asterisk>!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Until You Hear All Of My Mixtape</d-text>
	</d-box>

	<p class="note">Queen's mixtape fades back in.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>O-okay...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Kris... hurry up, please...)</d-text>
	</d-box>

	<p class="note">Kris gets out of the driver's seat. Traffic pulls up to fill the road they came from, and control is returned to the player.</p>

	<hr>

	<h3>Checking the car</h3>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Next Up Is My CD Of Vintage Hard Disk Noises</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Kris, please hurry...)</d-text>
	</d-box>

	<hr>

	<p class="note">Kris may proceed into the alley that will take them across the road, but not without <a href="{{ '/story/chapter2/spamton' | relative_url }}">encountering a Cyber World denizen</a>.</p>
</section>