---
title: Heart-to-heart with Queen

description: >
  <p>Queen spills her heart to Kris, but they're interrupted by Berdly.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_ch2_scene13_Step_0
    chapters: [2]
    note: Queen talk
  -
    name: gml_Object_obj_npc_sign_Other_10
    chapters: [2]
    note: boxes, statue

toc:
  -
    id: boxes
    name: Examining the boxes
  -
    id: queentalk
    name: Talking to Queen (and Berdly)
  -
    id: statue
    name: Examining the statue
---
<section class="d-section" id="boxes">
	<h2>Examining the boxes</h2>

	<d-box theme="dark">
		<d-text asterisk>(You became lost in the craftsmanship.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-text asterisk>(Of the boxes.)</d-text>
	</d-box>
</section>

<section class="d-section" id="queentalk">
	<h2>Talking to Queen (and Berdly)</h2>

	<p class="note">As the alleyway opens into a wider square, Queen's slow, hooting laugh makes Kris and an alarmed Noelle stop dead.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="E"></d-sprite>
		<d-text asterisk>Kris, it's Queen... She's right over there!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>C-Can you distract her somehow!!?</d-text>
	</d-box>

	<p class="note">Noelle hurries back the way they came as Kris moves forward, discovering Queen standing in the middle of the square with flushed cheeks and a glass in hand. The camera pans to focus on them, and Queen turns around, noticing Kris. After a pause, <a href="{% include wikilink page='Queen (Soundtrack)' %}">her theme</a> begins playing.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Oh</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="N"></d-sprite>
		<d-text asterisk>Lmao</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>You're here</d-text>
	</d-box>

	<p class="note">Queen gives a hoot of laughter, tipping her head back and spreading her hands. She looks at Kris again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Sorry Kris While I've Been Looking For Noelle</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>I've Had Like 4 Of These All-Ages Appropriate</d-text>
	</d-box>

	<p class="note">She turns to the side facing the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Glasses of Pure Battery Acid</d-text>
	</d-box>

	<p class="note">Queen laughs, then throws her glass to the ground; it smashes to pieces. She straightens back up and laughs again, then turns away from Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Don't Worry That Was My Throwing Glass It's Safe</d-text>
	</d-box>

	<p class="note">A pause.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Look Kris</d-text>
	</d-box>

	<p class="note">Queen turns to Kris and takes a few steps towards them, the glass shards briefly crunching under her feet.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Kris Cross Applesauce</d-text>
	</d-box>

	<p class="note">She turns to the side facing the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Now That We Are Trucies I Feel Like We Are On The Same</d-text>
	</d-box>

	<p class="note">Queen walks up in front of Kris, glass still crunching underfoot.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Mathematical Wavelength</d-text>
	</d-box>

	<p class="note">She takes another few steps and rests an arm on Kris's head, leaning on them and gesturing with a hand in the air.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>You Get Me Kris</d-text>
	</d-box>

	<p class="note">Queen flattens her raised hand, gesturing vaguely outwards.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>You Do Not Do Crazy Things Like "Have Opinions"</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="B"></d-sprite>
		<d-text asterisk>Or Scream When I Capture You</d-text>
	</d-box>

	<p class="note">Her hand lowers slightly, her expression growing slightly morose.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Or Tell Me Horrible Plans For Smartboy Theme Park</d-text>
	</d-box>

	<p class="note">Queen clenches her hand in a fist, looking grave.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>I Just Cannot Compute It</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>Why Everyone Else Is So... Ungrateful</d-text>
	</d-box>

	<p class="note">Queen straightens up and takes a few quick steps away from Kris, who turns to watch as she produces another glass with a laugh. This glass, too, is flung to the ground, but with a cartoonish explosion that sends the shards of the first glass flying offscreen. Queen straightens up.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Whoops That Was My Extra Dangerous Glass</d-text>
	</d-box>

	<p class="note">A pause. Queen turns to the side facing the player.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Kris</d-text>
	</d-box>

	<p class="note">Queen turns away from Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="P"></d-sprite>
		<d-text asterisk>I Just Want To Make Everyone Smile</d-text>
	</d-box>

	<p class="note">She walks away from Kris, stopping near the other side of the square.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>And If I Become An Evil Villain To Accomplish That</d-text>
	</d-box>

	<p class="note">A long pause.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Is That Bad?</d-text>
	</d-box>

	<p class="note">Queen turns to the side away from the player. Another pause.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>It's Okay</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>You Do Not Have To Answer</d-text>
	</d-box>

	<p class="note">Queen turns to the side facing the player and laughs for a moment, then stills, hand still raised beside her mouth.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="N"></d-sprite>
		<d-text asterisk>You Would Be Wrong</d-text>
	</d-box>

	<p class="note">She turns to face Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="5"></d-sprite>
		<d-text asterisk>But Kris... While We're Still Trucies</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Maybe We Could... Make The Most Of It</d-text>
	</d-box>

	<p class="note">With a noise, an arcade machine drops down into the square, landing with a thud as both Kris and Queen turn to watch. The screen beeps on, displaying Queen's face, as she speaks.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>We Could Play That Game Again</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Wasn't That... Fun, Kris</d-text>
	</d-box>

	<p class="note">Kris and Queen walk up to the arcade machine, facing each other.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Just You And Me</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="Q"></d-sprite>
		<d-text asterisk>Having A Good Time</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>No One Else To Get In The Way</d-text>
	</d-box>

	<p class="note">A huge golden statue falls from above, squashing the arcade machine out of existence with a cartoonish explosion. Kris and Queen turn to look at it. It depicts a muscular, flexing Berdly wearing crocs and briefs labelled "IQ", flexing as a beaming Queen hangs from his bicep. A moment later, Berdly spins down from above to land beside Kris, smiling at Queen. They both turn to face him.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="6"></d-sprite>
		<d-text asterisk>Queen!! I've been looking everywhere to show you this!!</d-text>
	</d-box>

	<p class="note">He folds his arms and grins smugly.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="J"></d-sprite>
		<d-text asterisk>A monument to our greatness... Together.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Oh</d-text>
	</d-box>

	<p class="note">Queen turns to the statue.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Um</d-text>
	</d-box>

	<p class="note">She turns to Berdly and begins to speak rapidly while looking between him and the statue, dialogue proceeding without user input:</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Oh</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Uh</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>It</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>It's</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Oh</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Well</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Um</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>Mmm</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="I"></d-sprite>
		<d-text asterisk>It's</d-text>
	</d-box>

	<p class="note">Queen turns away from Berdly.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>How Do I Put This</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Very...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>

	<p class="note">She turns to Berdly.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="K"></d-sprite>
		<d-text asterisk>Smart</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="K"></d-sprite>
		<d-text asterisk>So Smart You Are</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="K"></d-sprite>
		<d-text asterisk>I Love Tolerating You</d-text>
	</d-box>

	<p class="note">Still grinning, Berdly raises a finger.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="L"></d-sprite>
		<d-text asterisk>Haha!! I KNEW you'd be enamored. Such perfect taste.</d-text>
	</d-box>

	<p class="note">Queen looks at the statue.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="K"></d-sprite>
		<d-text asterisk>Very Cool Statues</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>I Did Not Know You Had... Nipples</d-text>
	</d-box>

	<p class="note">Berdly folds his arms again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="6"></d-sprite>
		<d-text asterisk>Haha... I will SOON... in our IDEAL WORLD.</d-text>
	</d-box>

	<p class="note">Berdly lowers his arms and turns away from Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="E"></d-sprite>
		<d-text asterisk>Kris, feel free to admire our artisanship.</d-text>
	</d-box>

	<p class="note">Queen turns to Berdly.</p>

	<d-box theme="dark">
		<d-sprite speaker="Berdly" variant="dark" emotion="1"></d-sprite>
		<d-text asterisk>Queen and I have PLANs to consider.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Haha Yes Oooh So Good Looking Forward To That</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>MMmmm Yum Yum Yum Yum Yum</d-text>
	</d-box>

	<p class="note">She turns away from Berdly and Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Let's Go Burghley</d-text>
	</d-box>

	<p class="note">Berdly and Queen both begin walking towards the path leading away to the right, but Queen walks slowly enough that Berdly quickly outpaces her. Once he's out of sight, she keeps "walking" without actually moving forward.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="K"></d-sprite>
		<d-text asterisk>Keep Going I Am Right Behind You</d-text>
	</d-box>

	<p class="note">"Walking" more slowly, she backs up a little.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Procedurally Lowering The Volume Of My Voice</d-text>
	</d-box>

	<p class="note">She stops faking a walk. A pause. Then Queen turns and speeds over to stand in front of Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Sorry Kris I Must Alt Tab Out Of Here</d-text>
	</d-box>

	<p class="note">Walking very fast, Queen heads past Kris to the alley beyond; the camera pans to follow her. As she passes Noelle, standing at the side of the alley with her box-disguise over her head, she speaks:</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="D"></d-sprite>
		<d-text asterisk>Wow Cool Face</d-text>
	</d-box>

	<p class="note">Queen heads back the way Kris and Noelle came, while the camera follows Noelle as she heads forward into the square, Kris walking to meet her. They both pause at the point where the alley opens up into the square.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="3"></d-sprite>
		<d-text asterisk>Phew...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>Looks like my disguise worked.</d-text>
	</d-box>

	<p class="note">Noelle takes the box off her head.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>It's silly looking, but it beats hiding...</d-text>
	</d-box>

	<p class="note">She puts the box back on her head.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="4"></d-sprite>
		<d-text asterisk>Let's get going, Kris!</d-text>
	</d-box>

	<p class="note">Control is returned to the player and the <a href="{% include wikilink page='WELCOME TO THE CITY' %}">city music</a> resumes. The moment Kris begins moving, however, Noelle walks forward in a diagonal line, eventually bumping into the statue and falling over its croc-clad foot; Kris turns to look when she falls.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>Just realized... I can't see anything... haha...</d-text>
	</d-box>

	<p class="note">Standing up, she takes the box off her head.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="4"></d-sprite>
		<d-text asterisk>Guess I'll try not to wear it unless I have to.</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="T"></d-sprite>
		<d-text asterisk>OK, let's go for real this time!!</d-text>
	</d-box>

	<p class="note">She moves to stand behind Kris, and control is returned to the player once again, who can proceed properly this time, <a href="{{ '/story/chapter2/city3' | relative_url }}">moving into the next area of Cyber City</a>.</p>
</section>

<section class="d-section" id="statue">
	<h2>Examining the statue</h2>

	<h3>First time</h3>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="4"></d-sprite>
		<d-text asterisk>What is this!? Fahahahaha...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="0"></d-sprite>
		<d-text asterisk>... phew!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="3"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Kris, can you stop looking at this?)</d-text>
	</d-box>

	<hr>

	<h3>Second time</h3>
	<d-box theme="dark">
		<d-text asterisk>(You became lost in the craftsmanship.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Why do we have to look at it twice?)</d-text>
	</d-box>

	<hr>

	<h3>Third time</h3>
	<d-box theme="dark">
		<d-text asterisk>(There's so much to look at here.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(Kris!?)</d-text>
	</d-box>

	<hr>

	<h3>Fourth time</h3>
	<d-box theme="dark">
		<d-text asterisk>(It's a work of art.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>(What part are you looking at?)</d-text>
	</d-box>

	<hr>

	<h3>Fifth time</h3>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="2"></d-sprite>
		<d-text asterisk>If I say I like it, will you stop looking at it?</d-text>
	</d-box>

	<hr>

	<h3>Sixth time</h3>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="4"></d-sprite>
		<d-text asterisk>Hey, isn't this thing just the best...?</d-text>
	</d-box>

	<hr>

	<h3>Seventh time</h3>
	<d-box theme="dark">
		<d-text asterisk>(This statue seems to suck bad.)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="8"></d-sprite>
		<d-text asterisk>KRIS!!!!!!</d-text>
	</d-box>

	<hr>

	<h3>Subsequent times</h3>
	<d-box theme="dark">
		<d-text asterisk>(There is no reason to look at this.)</d-text>
	</d-box>
</section>