---
title: Entering Cyber World

description: >
  <p>Kris and Susie explore the newest Dark World and meet its ruler.</p>

credits: >
  <p>Compiled by wovenstarlight.</p>

sources:
  -
    name: gml_Object_obj_ch2_room_cyber_intro_1_Step_0
    chapters: [2]
    note: initial entrance
  -
    name: gml_Object_obj_npc_room_animated_Other_10
    chapters: [2]
    note: Plugboys 1 & 2
  -
    name: gml_Object_obj_npc_room_Other_10
    chapters: [2]
    note: Plugboys 3 & 4
  -
    name: gml_Object_obj_ch2_scene9_Step_0
    chapters: [2]
    note: meeting Noelle, Queen, and Ralsei

toc:
  -
    id: newworld
    name: Into the new Dark World
    subheadings:
      -
        id: entrance
        name: Initial entrance
      -
        id: deeper
        name: Exploring further
  -
    id: queen
    name: Meeting Queen
  -
    id: postfight
    name: After the fight
---
<section class="d-section" id="newworld">
	<h2>Into the new Dark World</h2>

	<h3 id="entrance">Initial entrance</h3>

	<p class="note">As Kris and Susie fall into the library's Dark World, a <a href="{{ '/misc/darkitems#rouxlskaard' | relative_url }}">sparkle</a> leaves Kris's pockets. Kris and Susie land on a green platform with blinking electronic-themed patterns around it. Susie looks behind herself.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="0"></d-sprite>
		<d-text asterisk>... This is new.</d-text>
	</d-box>

	<p class="note">She turns to Kris, and control returns to the player.</p>

	<hr>

	<h3 id="deeper">Exploring further</h3>

	<p class="note">Past a SAVE point and cliffs that Kris and Susie can slide down are some distraught, trembling Plugboys who can be spoken with.</p>

	<h4>First Plugboy</h4>
	<h5>First time</h5>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>The wires... the wires...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>...</d-text>
	</d-box>

	<h4>Second Plugboy</h4>
	<h5>First time</h5>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>Everyone was...</d-text>
	</d-box>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>...</d-text>
	</d-box>

	<h4>Third Plugboy</h4>
	<p class="note">Trembles only when spoken to.</p>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>... e-everyone else has been...</d-text>
	</d-box>

	<h4>Fourth Plugboy</h4>
	<p class="note">Trembles only when spoken to.</p>
	<d-box theme="dark">
		<d-speaker>Plugboy</d-speaker>
		<d-text asterisk>S-save us, she's going to...</d-text>
	</d-box>
</section>

<section class="d-section" id="queen">
	<h2>Meeting Queen</h2>

	<p class="note">As Kris and Susie walk along the damaged platform past the third and fourth Plugboys, they hear a voice.</p>

	<d-box theme="dark">
		<d-speaker>Noelle</d-speaker>
		<d-text asterisk>Somebody help me...</d-text>
	</d-box>

	<p class="note">Kris and Susie, no longer smiling, walk forward. The camera pans over to show Noelle in Dark World clothes kneeling on the ground, face in shadow.</p>

	<d-box theme="dark">
		<d-speaker>Noelle</d-speaker>
		<d-text asterisk>Somebody, please...</d-text>
	</d-box>

	<p class="note">Noelle notices their presence and looks up, startled.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="E"></d-sprite>
		<d-text asterisk>Susie!?</d-text>
	</d-box>

	<p class="note">Noelle smiles awkwardly.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="3"></d-sprite>
		<d-text asterisk>Cool that you're here, just...</d-text>
	</d-box>

	<p class="note">She looks alarmed again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Noelle" emotion="B"></d-sprite>
		<d-text asterisk>Wait, get out of here before it's too late!</d-text>
	</d-box>

	<p class="note">A cage floats in from the right and drops over Noelle, startling her and Susie. Kris and Susie rush forward, but aren't fast enough to stop the cage from flying away with Noelle.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="Z"></d-sprite>
		<d-text asterisk>NOELLE!</d-text>
	</d-box>

	<p class="note">With a <a href="{% include wikilink page='Ohhhhohohoho!' %}">long, extended laugh</a>, Queen rises from beyond the damaged platform, sitting in her rocket-powered throne. <a href="{% include wikilink page='Queen (Soundtrack)' %}">Her theme</a> begins playing.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>Hell Of A Study Session</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="H"></d-sprite>
		<d-text asterisk>Who the hell are you!?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="2"></d-sprite>
		<d-text asterisk>I Am Known As Serial Number Q5U4EX7YY2E9N</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>But You Foolish Children May Call Me</d-text>
	</d-box>

	<p class="note">Queen holds up a finger and takes a drink from her glass of acid. Then, as she speaks, screens pop up to her left reading "Queen" with an arrow pointing towards her.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>"Queen"</d-text>
	</d-box>

	<p class="note">Susie jabs an accusing finger at her.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="2"></d-sprite>
		<d-text asterisk>Heh, like we're gonna call YOU "Queen,"</d-text>
	</d-box>
	<p class="note">Susie falters, looking to the side uncertainly.</p>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="K"></d-sprite>
		<d-text asterisk>"Q5U....3...7..." uh,</d-text>
	</d-box>

	<p class="note">Another set of screens labelling her "Queen" pop up, this time to the right.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>"Queen"</d-text>
	</d-box>

	<p class="note">Susie points at her with renewed energy.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="5"></d-sprite>
		<d-text asterisk>Well LOOK, "Queen." We're not "children!"</d-text>
	</d-box>

	<p class="note">The screens disappear to be replaced by new ones on the left, showing a stick figure labelled "STUPID" turning into a bigger stick figure labelled "BIG STUPID".</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Teens Are Merely Big Children</d-text>
		<d-box>
			<d-sprite speaker="Queen" emotion="0"></d-sprite>
			<d-text>And Adults Are Even Bigger Children</d-text>
		</d-box>
	</d-box>
	<p class="note">Susie briefly looks away, confused.</p>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="K"></d-sprite>
		<d-text asterisk>... doesn't that make you a child too then?</d-text>
	</d-box>
	<p class="note">Susie looks back at Queen as more screens pop up to the right, with a simplistic computer labelled "SMART" turning into… the same thing, a computer labelled "SMART".</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="Q"></d-sprite>
		<d-text asterisk>No I Am: A Computer (Smart)</d-text>
	</d-box>

	<p class="note">Susie looks confused.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="6"></d-sprite>
		<d-text asterisk>... computer?</d-text>
	</d-box>

	<p class="note">Queen's chair flies up and away and her screens disappear.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="D"></d-sprite>
		<d-text asterisk>Well Thank You For The Stimuli But I Must Leave Now (Goodbye)</d-text>
	</d-box>

	<p class="note">Susie steps closer to the edge of the platform and points accusingly at her again.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="5"></d-sprite>
		<d-text asterisk>Wait! WAIT!! Why'd you capture Noelle!?</d-text>
	</d-box>

	<p class="note">Queen floats back down in front of them, with Susie backing away as she approaches.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="O"></d-sprite>
		<d-text asterisk>I Would Have Captured You Too But I Ran Out Of Cages</d-text>
	</d-box>

	<p class="note">Susie looks exasperated.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="H"></d-sprite>
		<d-text asterisk>Why the CAPTURING!?</d-text>
	</d-box>

	<p class="note">Susie looks over when a screen depicting Noelle appears beside Queen.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>So That She May Become My Willing Peon</d-text>
	</d-box>

	<p class="note">Several more screens appear, these ones in red and showing globes with smiley faces above them, as Queen spreads her hands in demonstration.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>In My Quest For World Domination</d-text>
	</d-box>

	<p class="note">Another green screen pops up beside the one depicting Noelle, with an arrow showing her face replaced by a robotic face.</p>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="9"></d-sprite>
		<d-text asterisk>Also Maybe I Will Make Her Face Into A Robot One?</d-text>
	</d-box>

	<p class="note">Susie looks alarmed.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="5"></d-sprite>
		<d-text asterisk>What!? Why!?</d-text>
	</d-box>

	<p class="note">Queen laughs.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="Q"></d-sprite>
		<d-text asterisk>Seems Cool</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="4"></d-sprite>
		<d-text asterisk>Well, FORGET it, dude.</d-text>
	</d-box>

	<p class="note">Queen returns to swishing her wine glass as Susie points at her.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="4"></d-sprite>
		<d-text asterisk>Nobody's turning anyone's face into a robot!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="E"></d-sprite>
		<d-text asterisk>Could That Be A Statement Of Animous Dissension</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="6"></d-sprite>
		<d-text asterisk>Huh?</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>You Wanna Fight, Loser</d-text>
	</d-box>

	<p class="note">Susie draws her axe and begins repeatedly striking the ground with it.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="H"></d-sprite>
		<d-text asterisk>YES!!! YES ALREADY, YES!!!</d-text>
	</d-box>

	<p class="note">Queen's screens all disappear and she flies away again, this time to the right, with Kris turning to watch her go.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>Oh Then Bye</d-text>
	</d-box>

	<p class="note">Susie's axe strikes get much faster.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="5"></d-sprite>
		<d-text asterisk>WAIT! A GODDAMN! SECOND!!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>I Have No Time For Such Frivolities (And Would Kick Your Ass)</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="1"></d-sprite>
		<d-text asterisk>But Perhaps Someone Else Could Entertain You</d-text>
	</d-box>

	<p class="note">Susie stops wielding her axe; she and Kris turn around as the camera pans back over to the Plugboys. Susie and the Plugboys look alarmed and frightened as wires descend from the sky and latch onto the Plugboys' faces, lifting them up into the sky.</p>
	<p class="note">The camera pans back to the right, where Queen floats at the end of the platform. Susie and Kris turn to watch as the Plugboys are lowered down, quivering at the ends of the wires for a moment before transforming into Werewires with an electronic crackle.</p>

	<d-box theme="dark">
		<d-sprite speaker="Queen" emotion="0"></d-sprite>
		<d-text asterisk>Enjoy: Your Assimilation</d-text>
	</d-box>

	<p class="note"><a href="{{ '/encounters/werewire' | relative_url }}">Kris and Susie are drawn into battle with the Werewires.</a></p>
</section>

<section class="d-section" id="postfight">
	<h2>After the fight</h2>

	<p class="note">Upon leaving the encounter, Susie turns to Kris.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="9"></d-sprite>
		<d-text asterisk>Phew, nice fighting again after so long!</d-text>
	</d-box>
	<p class="note">She turns around, facing the path Queen was floating by.</p>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="2"></d-sprite>
		<d-text asterisk>Now let's go catch up to Queen!</d-text>
	</d-box>

	<p class="note">At that moment, two more Werewires drop down from above, startling Susie.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="Z"></d-sprite>
		<d-text asterisk>... or not!</d-text>
	</d-box>

	<p class="note">Before the encounter can begin, however, the Werewires are pacified and fall asleep, turning back into Plugboys and disappearing.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="6"></d-sprite>
		<d-text asterisk>Huh? They calmed down...?</d-text>
	</d-box>

	<p class="note">Kris and Susie turn around to see Ralsei walking up to them.</p>

	<d-box theme="dark">
		<d-sprite speaker="Ralsei" emotion="H"></d-sprite>
		<d-text asterisk>I just used my PACIFY spell to put them into "Sleep Mode"!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="7"></d-sprite>
		<d-text asterisk>Ralsei! You're here!</d-text>
	</d-box>

	<p class="note">They all huddle closer together, forming a semicircle with Ralsei and Susie at either end.</p>
	<d-box theme="dark">
		<d-sprite speaker="Ralsei" emotion="0"></d-sprite>
		<d-text asterisk>I felt a dark presence and hurried over!</d-text>
	</d-box>
	<p class="note">Ralsei turns to Kris.</p>
	<d-box theme="dark">
		<d-sprite speaker="Ralsei" emotion="9"></d-sprite>
		<d-text asterisk>It seems that a new Dark Fountain has appeared...</d-text>
	</d-box>

	<p class="note">Ralsei turns back to Susie when she turns away and speaks, looking unhappy.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="g"></d-sprite> <!-- updated index, originally R -->
		<d-text asterisk>Ralsei... they got Noelle!</d-text>
	</d-box>

	<p class="note">She looks briefly exasperated.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="f"></d-sprite> <!-- updated index, originally N -->
		<d-text asterisk>Damn, what was she THINKING messing in our Dark World!?</d-text>
	</d-box>

	<p class="note">Susie turns aside.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="O"></d-sprite>
		<d-text asterisk>If we don't do something, she might be...</d-text>
	</d-box>
	<p class="note">Ralsei speaks, drawing her attention.</p>
	<d-box theme="dark">
		<d-sprite speaker="Ralsei" emotion="0"></d-sprite>
		<d-text asterisk>Worry not, Susie! All we have to do is seal the Fountain!</d-text>
	</d-box>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="Q"></d-sprite>
		<d-text asterisk>... yeah. Yeah!</d-text>
	</d-box>
	<p class="note">Susie smiles again.</p>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="A"></d-sprite>
		<d-text asterisk>Can't be mad about another adventure, right!?</d-text>
	</d-box>

	<p class="note">She and Ralsei turn to Kris.</p>
	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="9"></d-sprite>
		<d-text asterisk>C'mon, Kris!</d-text>
	</d-box>

	<p class="note">Kris, Susie, and Ralsei jump into a line, spin, and strike poses.</p>

	<d-box theme="dark">
		<d-sprite speaker="Susie" emotion="2"></d-sprite>
		<d-text asterisk>Let's go!</d-text>
	</d-box>

	<p class="note">Control returns to the player. They can proceed past the damaged platform to a slide, where Susie and Ralsei quickly outpace Kris. Sweet flies next to the slide on rocket-powered turntables and sends bullets down the slide in time to the <a href="{% include wikilink page='A CYBER\'S WORLD?' %}">cheery music</a> that starts playing. After the intro, Sweet flies out of sight as the screen flashes white, and the party finds themselves at the bottom of the slide near a <a href="{{ '/misc/savepoints#cyberfield' | relative_url }}">SAVE point</a>. They enter Cyber Field, where they eventually <a href="{{ '/story/chapter2/arcadegame' | relative_url }}">run into Queen</a>.</p>
</section>